// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $active-background: darken($background, 10%), $active-border: darken($border, 12.5%)) {
  color: color-yiq($background) !important;
  background-color: $background !important;
  border-color: $border !important;
  @include box-shadow($btn-box-shadow);

  // Button Drop Shadow
  box-shadow: 0 3px 0 0 mix(#000, $background, 3 * $theme-color-interval) !important;

  // Make these important to overcome salients styletag css 
  @include hover {
    color: color-yiq($hover-background) !important;
    background-color: $hover-background !important;
    border-color: $hover-border !important;
  }

  &:focus,
  &.focus {
    // Avoid using mixin so we can pass custom focus shadow properly
    @if $enable-shadows {
      box-shadow: $btn-box-shadow, 0 0 0 $btn-focus-width rgba($border, .5) !important;
    } @else {
      box-shadow: 0 0 0 $btn-focus-width rgba($border, .5) !important;
    }
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    color: color-yiq($background) !important;
    background-color: $background !important;
    border-color: $border !important;
    cursor: not-allowed;

    // Button Drop Shadow
    // box-shadow: 0 3px 0 0 mix(#000, $hover-background, 3 * $theme-color-interval);
    opacity: $btn-disabled-opacity !important;
    box-shadow: none !important;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: color-yiq($active-background);
    background-color: $active-background;
    @if $enable-gradients {
      background-image: none; // Remove the gradient for the pressed/active state
    }
    border-color: $active-border;

    &:focus {
      // Avoid using mixin so we can pass custom focus shadow properly
      @if $enable-shadows {
        box-shadow: $btn-active-box-shadow, 0 0 0 $btn-focus-width rgba($border, .5) !important;
      } @else {
        box-shadow: 0 0 0 $btn-focus-width rgba($border, .5) !important;
      }
    }
  }

  &.cta-loading {
    color:transparent !important;
  }
}

@mixin button-outline-variant($color, $color-hover: color-yiq($color), $active-background: $color, $active-border: $color) {
  color: $color;
  background-color: transparent;
  background-image: none;
  border-color: $color !important;
  border-width: 2px !important;
  border-style:solid !important;

  // Button Drop Shadow
  // box-shadow: 0 3px 0 0 mix(#FFF, $color, 3 * $theme-color-interval);

  &:hover {
    color: $color-hover;
    background-color: $active-background;
    border-color: $active-border !important;

    // Button Drop Shadow
    // box-shadow: 0 3px 0 0 mix(#000, $color, 3 * $theme-color-interval);
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 $btn-focus-width rgba($color, .5);
  }

  &.disabled,
  &:disabled {
    color: $color;
    background-color: transparent;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: color-yiq($active-background);
    background-color: $active-background;
    border-color: $active-border !important;

    &:focus {
      // Avoid using mixin so we can pass custom focus shadow properly
      @if $enable-shadows and $btn-active-box-shadow != none {
        box-shadow: $btn-active-box-shadow, 0 0 0 $btn-focus-width rgba($color, .5);
      } @else {
        box-shadow: 0 0 0 $btn-focus-width rgba($color, .5);
      }
    }
  }
}

// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
  // Manually declare to provide an override to the browser default
  @if $enable-rounded {
    border-radius: $border-radius;
  } @else {
    border-radius: 0;
  }
}
