.alert {
	border-top-width: 5px;
	padding-right:2.5rem;

	i {
		display: inline-block;
		margin-right: 1.25rem;
		// Standardize icon sizes
		width: 1rem;
		text-align: center;
	}

	button.close {
		position: absolute;
		top: 0.75rem;
		right: 1rem;
	}

	// .btn {
	// 	@include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-line-height, $btn-border-radius);
	//  	@include transition($btn-transition);
	//  	@extend .my-2;
	//  	display: inline-block;
	// }

	@each $color, $value in $theme-colors {
	  .btn-#{$color} {
	    @include button-variant($value, $value);
	  }
	}

	&.position-fixed {
		top:100px;
		z-index:$zindex-modal;
	}

}