
ol.breadcrumb {

	margin: 0 0 1rem 0;

	li.breadcrumb-item {
		font-weight:600;
		font-size:$font-size-sm;
		list-style: none;

		a {
			color:$gray-500;

			&:hover {
				color:$primary;
			}
		}

		&::before {
			font-family: 'FontAwesome';
			color:$gray-400;
		}

		

		&.active {
			// font-weight: 600;

			a {
				color: $gray-400 !important;
			}
		}
	}
}