/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	Button Overrides
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

// stylelint-disable selector-no-qualifying-type

html {
	//  Base styles    
	.btn {
        display: inline-block;
        font-weight: $btn-font-weight;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        user-select: none;
        border: none !important;
        letter-spacing: $btn-letter-spacing;
		
		@include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-line-height, $btn-border-radius);
	    @include transition($btn-transition);

	    // Share hover and focus styles
	    @include hover-focus {
	        text-decoration: none;
	    }

        &:focus,
        &.focus {
            outline: 0;
            box-shadow: $btn-focus-box-shadow;
        }

        // Disabled comes first so active can properly restyle
        &.disabled,
        &:disabled {
            opacity: $btn-disabled-opacity;
            @include box-shadow(none);
        }

        // Opinionated: add "hand" cursor to non-disabled .btn elements
        &:not(:disabled):not(.disabled) {
            cursor: pointer;
            opacity:1.0;
        }

	    &:not(:disabled):not(.disabled):active,
	    &:not(:disabled):not(.disabled).active {
			@include box-shadow($btn-active-box-shadow);
			// box-shadow: $btn-active-box-shadow !important;
	        background-image: none;

	        &:focus { @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow); }
	    }

	    &.cta-loading {
	    	color:transparent !important;
	    }
	}

	a.btn.disabled,
	fieldset:disabled a.btn {
	    pointer-events: none;
	}

	//  Button Color Variants
	@each $color, $value in $theme-colors {
	    .btn-#{$color} {
	        @include button-variant($value, $value);
	    }
	}
	@each $color, $value in $theme-colors {
	    .btn-outline-#{$color} {
	  	    border: $btn-border-width solid transparent; // Added by ONYX
	        @include button-outline-variant($value);
	    }
	}

	//  Link buttons
	.btn-link {
	    font-weight: $font-weight-normal;
	    color: $link-color;
	    background-color: transparent;

	    @include hover {
	        color: $link-hover-color;
	        text-decoration: $link-hover-decoration;
	        background-color: transparent;
	        border-color: transparent;
	    }

        &:focus,
        &.focus {
            text-decoration: $link-hover-decoration;
            border-color: transparent;
            box-shadow: none;
        }

        &:disabled,
        &.disabled {
            color: $btn-link-disabled-color;
            pointer-events: none;
        }
	}

	//  Button Size Variants
	.btn-lg { @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $btn-line-height-lg, $btn-border-radius-lg); }
	.btn-sm { @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-line-height-sm, $btn-border-radius-sm); }

    // Block buttons
	.btn-block {
	    display: block;
	    width: 100%;

	    // Vertically space out multiple block buttons
	    + .btn-block {
	        margin-top: $btn-block-spacing-y;
	    }
	}

	// Specificity overrides
	input[type="submit"].btn-block,
	input[type="reset"].btn-block,
	input[type="button"].btn-block { width: 100%; }

}

@mixin force-button-size() {
    line-height: $btn-line-height !important;
    padding: $btn-padding-y $btn-padding-x !important;
    font-size: $font-size-base !important;
    font-weight: $btn-font-weight !important;
    border-radius: $btn-border-radius !important;
    letter-spacing:$btn-letter-spacing !important;

    &:not(:disabled):not(.disabled) { cursor: pointer !important; }
}

// Tablehead Buttons
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
.btn.btn-thead {
    background-color: #FFFFFF;

    &:hover { background-color: $table-head-bg; }
}

// Dashboard Buttons - force styles
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
#mh-dashboard-wrap .btn,
#mh-dashboard-save-bar .btn {

	&:not(.btn-sm):not(.btn-lg):not(.btn--table-cell) { @include force-button-size(); }

    &.btn-primary { @include button-variant($primary, $primary); }
    &.btn-secondary { @include button-variant($secondary, $secondary); }
}

// Woocommerce Buttons - force styles
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
html body.woocommerce-page .woocommerce p.return-to-shop a.button.wc-backward {
	@include force-button-size();
	@include button-variant( $primary, $primary );
}
html body.woocommerce-page,
html body.woocommerce {

	.button, a.button {
		@include force-button-size();
		@include button-variant( $primary, $primary );
	}

	.container-wrap .btn {
    	@include force-button-size();

    	&.btn-primary { @include button-variant($primary, $primary); }
		&.btn-secondary { @include button-variant($secondary, $secondary); }
	}
}

html body.material .nectar-button {

	@include force-button-size();

	&.accent-color {
		@include button-variant( $primary, $primary);
	}
	
	&.secondary-color {
		@include button-variant( $secondary, $secondary);
	}
}

// Add to Cart / Checkout 'Place Order' button
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

body.woocommerce-page[data-form-submit] .container-wrap button.single_add_to_cart_button[type="submit"],
body.woocommerce-cart[data-form-submit] .wc-proceed-to-checkout button.checkout-button,
body.woocommerce-cart[data-form-submit] .wc-proceed-to-checkout a.checkout-button,
body.woocommerce-checkout #order_review #payment #place_order {
    @include force-button-size();
    @include button-variant($primary, $primary);
	display: inline-block !important;
	width: auto;
}

// Cart / Coupon Buttons
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
body.woocommerce-cart[data-form-submit] {

	.actions button.button[type] {
		@include force-button-size();
		@include button-variant($primary, $primary);
	}
}

// Sidebar Buttons
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
.widget_shopping_cart_content .woocommerce-mini-cart__buttons a.button {
    @include force-button-size();

    &.checkout {
    	@include button-variant($primary, $primary);	
    }

    &:not(.checkout) {
    	@include button-variant($light, $light);
    }
    
}



