
@each $color, $value in $theme-colors {
	@for $level from -10 through 10 {
		.#{$color}-#{$level} {
			color: theme-color-level( $color, $level );
			background-color: color-yiq( $value );
		}
		.#{$color}-bg-#{$level} {
			background-color: theme-color-level( $color, $level );
		}
		.#{$color}-bg-hover {
			background-color: darken( $value, 7.5% );
		}
	}
}