// stylelint-disable selector-no-qualifying-type

//
// Textual form controls
//

html body .form-control[type] {
  display: block;
  width: 100%;
  // padding: $input-padding-y $input-padding-x;
  padding: 10px;
  font-size: $font-size-base;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-bg;
  background-clip: padding-box;
  border: $input-border-width solid $input-border-color;

  // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
  @if $enable-rounded {
    // Manually use the if/else instead of the mixin to account for iOS override
    border-radius: $input-border-radius;
  } @else {
    // Otherwise undo the iOS default
    border-radius: 0;
  }

  @include box-shadow($input-box-shadow);
  @include transition($input-transition);

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus();

  // Placeholder
  &::placeholder {
    color: $input-placeholder-color;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &:disabled,
  &[data-virtual-disabled],
  &[readonly] {
    background-color: $input-disabled-bg;
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;
  }

  &[data-virtual-disabled] {
    pointer-events:none;
  }
}

select.form-control {
  &:not([size]):not([multiple]) {
    height: $input-height;
  }

  &:focus::-ms-value {
    // Suppress the nested default white text on blue background highlight given to
    // the selected option text when the (still closed) <select> receives focus
    // in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
    // match the appearance of the native widget.
    // See https://github.com/twbs/bootstrap/issues/19398.
    color: $input-color;
    background-color: $input-bg;
  }
}

// Make file inputs better match text inputs by forcing them to new lines.
.form-control-file,
.form-control-range {
  display: block;
  width: 100%;
}


//
// Labels
//

// For use with horizontal and inline forms, when you need the label (or legend)
// text to align with the form controls.
.col-form-label {
  padding-top: calc(#{$input-padding-y} + #{$input-border-width});
  padding-bottom: calc(#{$input-padding-y} + #{$input-border-width});
  margin-bottom: 0; // Override the `<label>/<legend>` default
  font-size: inherit; // Override the `<legend>` default
  line-height: $input-line-height;
}

.col-form-label-lg {
  padding-top: calc(#{$input-padding-y-lg} + #{$input-border-width});
  padding-bottom: calc(#{$input-padding-y-lg} + #{$input-border-width});
  font-size: $font-size-lg;
  line-height: $input-line-height-lg;
}

.col-form-label-sm {
  padding-top: calc(#{$input-padding-y-sm} + #{$input-border-width});
  padding-bottom: calc(#{$input-padding-y-sm} + #{$input-border-width});
  font-size: $font-size-sm;
  line-height: $input-line-height-sm;
}


// Readonly controls as plain text
//
// Apply class to a readonly input to make it appear like regular plain
// text (without any border, background color, focus indicator)

.form-control-plaintext {
  display: block;
  width: 100%;
  padding-top: $input-padding-y;
  padding-bottom: $input-padding-y;
  margin-bottom: 0; // match inputs if this class comes on inputs with default margins
  line-height: $input-line-height;
  color: $input-plaintext-color;
  background-color: transparent;
  border: solid transparent;
  border-width: $input-border-width 0;

  &.form-control-sm,
  &.form-control-lg {
    padding-right: 0;
    padding-left: 0;
  }
}


// Form control sizing
//
// Build on `.form-control` with modifier classes to decrease or increase the
// height and font-size of form controls.
//
// The `.form-group-* form-control` variations are sadly duplicated to avoid the
// issue documented in https://github.com/twbs/bootstrap/issues/15074.

.form-control-sm {
  padding: $input-padding-y-sm $input-padding-x-sm;
  font-size: $font-size-sm;
  line-height: $input-line-height-sm;
  @include border-radius($input-border-radius-sm);
}

select.form-control-sm {
  &:not([size]):not([multiple]) {
    height: $input-height-sm;
  }
}

.form-control-lg {
  padding: $input-padding-y-lg $input-padding-x-lg;
  font-size: $font-size-lg;
  line-height: $input-line-height-lg;
  @include border-radius($input-border-radius-lg);
}

select.form-control-lg {
  &:not([size]):not([multiple]) {
    height: $input-height-lg;
  }
}


// Form groups
//
// Designed to help with the organization and spacing of vertical forms. For
// horizontal forms, use the predefined grid classes.

.form-group {
  margin-bottom: $form-group-margin-bottom;

  label { 
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
  }
}

.form-text {
  display: block;
  margin-top: $form-text-margin-top;
}


// Form grid
//
// Special replacement for our grid system's `.row` for tighter form layouts.

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;

  > .col,
  > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}


// Checkboxes and radios
//
// Indent the labels to position radios/checkboxes as hanging controls.

.form-check {
  position: relative;
  display: block;
  // padding-left: $form-check-input-gutter;
}

.form-check-input {
  // position: absolute;
  // margin-top: $form-check-input-margin-y;
  // margin-left: -$form-check-input-gutter;

  &:disabled ~ .form-check-label {
    color: $text-muted;
  }
}

.form-check-label {
  margin-bottom: 0; // Override default `<label>` bottom margin
}

.form-check-inline {
  display: inline-flex;
  align-items: center;
  padding-left: 0; // Override base .form-check
  margin-right: $form-check-inline-margin-x;

  // Undo .form-check-input defaults and add some `margin-right`.
  .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: $form-check-inline-input-margin-x;
    margin-left: 0;
  }
}


// Form validation
//
// Provide feedback to users when form field values are valid or invalid. Works
// primarily for client-side validation via scoped `:invalid` and `:valid`
// pseudo-classes but also includes `.is-invalid` and `.is-valid` classes for
// server side validation.

@include form-validation-state("valid", $form-feedback-valid-color);
@include form-validation-state("invalid", $form-feedback-invalid-color);

// Inline forms
//
// Make forms appear inline(-block) by adding the `.form-inline` class. Inline
// forms begin stacked on extra small (mobile) devices and then go inline when
// viewports reach <768px.
//
// Requires wrapping inputs and labels with `.form-group` for proper display of
// default HTML form controls and our custom form controls (e.g., input groups).

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center; // Prevent shorter elements from growing to same height as others (e.g., small buttons growing to normal sized button height)

  // Because we use flex, the initial sizing of checkboxes is collapsed and
  // doesn't occupy the full-width (which is what we want for xs grid tier),
  // so we force that here.
  .form-check {
    width: 100%;
  }

  // Kick in the inline
  @include media-breakpoint-up(sm) {
    label {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
    }

    // Inline-block all the things for "inline"
    .form-group {
      display: flex;
      flex: 0 0 auto;
      flex-flow: row wrap;
      align-items: center;
      margin-bottom: 0;
    }

    // Allow folks to *not* use `.form-group`
    .form-control {
      display: inline-block;
      width: auto; // Prevent labels from stacking above inputs in `.form-group`
      vertical-align: middle;
    }

    // Make static controls behave like regular ones
    .form-control-plaintext {
      display: inline-block;
    }

    .input-group,
    .custom-select {
      width: auto;
    }

    // Remove default margin on radios/checkboxes that were used for stacking, and
    // then undo the floating of radios and checkboxes to match.
    .form-check {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      padding-left: 0;
    }
    .form-check-input {
      position: relative;
      margin-top: 0;
      margin-right: $form-check-input-margin-x;
      margin-left: 0;
    }

    .custom-control {
      align-items: center;
      justify-content: center;
    }
    .custom-control-label {
      margin-bottom: 0;
    }
  }
}

// Checkbox rows inside of tables
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
table .form-check.form-row {
  text-align: center;
}

// Product Page
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
table.variations td.value {
  @extend .form-group;

  select {
    @extend .form-control;
    padding: $input-padding-y $input-padding-x !important;
    margin-bottom: 1rem;
  }
}

table.variations td.label label {
  font-size: $font-size-base;
}

// Checkout Page - Details Form
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
body.woocommerce-checkout form.woocommerce-checkout .form-row,
body.woocommerce-checkout form.bulk-checkout .form-row,
body.woocommerce-checkout #customer_details .form-row {
  margin-bottom: $form-group-margin-bottom !important;
  display: block !important; // take off all the ridiculous flexbox stuff
  padding: 0 !important;

  label {
    font-size: $font-size-base !important;
    font-weight: $font-weight-normal !important;
  }

  // Regular Inputs
  input:not([type="submit"]),
  .StripeElement,
  #order_comments {
    color: $input-color !important;
    background-color: $input-bg !important;
    background-clip: padding-box !important;
    border: $input-border-width solid $input-border-color !important;
    border-radius: $input-border-radius !important;

    &:focus {
      color: $input-focus-color !important;
      background-color: $input-focus-bg !important;
      border-color: $input-focus-border-color !important;
      outline: 0 !important;
      box-shadow: $input-box-shadow, $input-focus-box-shadow !important;
    }
  }

  // Special Stripe "Inputs"
  .StripeElement {
    @include transition($input-transition);
    padding: 10px !important;
    font-size: $font-size-base !important;
    line-height: $input-line-height !important;

    &.focused {
      color: $input-focus-color !important;
      background-color: $input-focus-bg !important;
      border-color: $input-focus-border-color !important;
      outline: 0 !important;
      box-shadow: $input-box-shadow, $input-focus-box-shadow !important;
    }
  }

  // Select2 Inputs
  .select2-selection { 
    box-shadow: 0 3px 0 0 mix(#000, $light, 3 * $theme-color-interval);
    min-height: 2.5rem !important;
    font-size: $font-size-base !important;
    padding: 10px !important;

    // for auto width selects
    display: inline-block;
    position: relative;

    .select2-selection__rendered {
      color: $input-color !important;
      line-height: 1.5 !important;
    }

    &:hover {
      background-color: darken($light, 7.5%) !important;
    }
  }

  .select2-container--focus,
  .select2-container--open {
    .select2-selection {
      background-color: darken($light, 7.5%) !important;
    }
  }

}

// Shipping Checkbox
#ship-to-different-address {

  input {
    float: left !important;
    margin: 0.3em 8px 0 0 !important;
  }

  span {
    font-size: $font-size-base !important;
    line-height: $input-line-height !important;
    color: $input-color !important;
    font-size: $font-size-base !important;
  }
}

// Additional Fields Wrap 
.woocommerce-additional-fields { padding-right: 45px !important; }

// Bulk Checkout 'Edit Order' button spacing
body.woocommerce-checkout #customer_details #place_order { margin-bottom: 8px; }

// Checkout Page - Payment Form
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
body.woocommerce-checkout #payment,
body.woocommerce-checkout form.bulk-checkout #payment {

  .form-row,
  .clear {
    padding: 0 !important;
  }

  br { display: none !important; }

  // Agreement checkboxes
  .woocommerce-SavedPaymentMethods-saveNew,
  .woocommerce-terms-and-conditions-wrapper .validate-required {

    input[type="checkbox"] {
      float: left !important;
      margin: 0.4em 8px 0 0 !important;

      & ~ label {
        font-size: $font-size-base !important;
        display: block !important;
        overflow: hidden !important;
        line-height: 1.5 !important;
        color: $input-color !important;
      }
    }
  }
}

// Standardize alignment of special stripe field labels
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
form#order_review .payment_methods label[for*="stripe"] { margin-left: 0; }

// Safari Specific
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
html body input[type='submit'] {
  -webkit-appearance: none !important;
}

// file input width if image thumbnail is present
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
.mh-file-input-thumb-wrap ~ .input-group input {
	width:auto;
}


// div.container-wrap .woocommerce form.woocommerce-checkout .form-row,
// div.container-wrap .woocommerce-checkout #payment div.payment_box .form-row,
// // Bulk Checkout Page
// div.container-wrap .woocommerce form.bulk-checkout .form-row,
// div.container-wrap .woocommerce #payment div.payment_box .form-row {
//   padding: 0;
//   margin: 0 0 1rem 0;
//   @extend .form-group;

//   label { 
//     font-size: $font-size-base; 
//     line-height: normal;
//   }

//   // Form Fields
//   .input-text,
//   .select2-selection,
//   .StripeElement {
//     @extend .form-control;
//   }

//   // Fancy Select Styling
//   .fancy-select-wrap { padding-top: 0; }

//   .select2-selection { 
//     box-shadow: 0 3px 0 0 mix(#000, $light, 3 * $theme-color-interval);

//     .select2-selection__rendered {
//       color: $input-color !important;
//       line-height: 1.5 !important;
//     }

//     &:hover {
//       background-color: darken($light, 7.5%) !important;
//     }
//   }

//   .select2-container--focus,
//   .select2-container--open {
//     .select2-selection {
//       background-color: darken($light, 7.5%) !important;
//     }
//   }

//   // Special Stripe Checkout Fields
//   .StripeElement { 
//     width: 100%; 

//     // Needs more specific overrides since these fields arent inputs
//     // and they all get inline styles
//     background-color: $gray-100 !important;

//     &.focused {
//       color: $input-focus-color ;
//       background-color: $input-focus-bg !important;
//       border-color: $input-focus-border-color !important;
//       outline: 0;
//       box-shadow: $input-box-shadow, $input-focus-box-shadow;
//     }
//   }

//   .wc-terms-and-conditions { @extend .mb-3; }
// }


// OMH Select2 Minimal

body .omh-select2-minimal {

  .fancy-select-wrap {
    padding-top:0;

    .select2-selection {
      border: 0;
      border-bottom: 2px solid $gray-300;
      border-radius: 0;

      .select2-selection__rendered {
        padding-left:0;
      }
    }
  }
}