/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	Nav Tabs Overrides
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.nav-tabs {

	.nav-link { 
		color: $gray-500; 
		font-weight: $font-weight-bold;
		padding-top: 0;
		padding-bottom: 0;
		border-width: 2px 0;

		&.active { border-color: transparent transparent $primary; }

		&:not(.active) { border-color: transparent; }

		&.active,
		&:not(.disabled):hover { color: $body-color; }

	}

}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	Nav Items Overrides
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.nav-item { list-style: none; }