/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	Table Overrides
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
th { font-weight: $font-weight-bold }

.table,
.table.omh-table {

	th,
	td {
		font-size: $font-size-sm; 
		 
	}

	&.v-align-top {
		th,
		td { vertical-align: top; }
	}

	th { 
		vertical-align: middle;
		font-weight: $font-weight-bold;
	}

	&.border-0-first-tr {
		tbody tr:first-child td {
			border:0;
		}
	}

	tbody td .currency {
		text-align: right;
	}

	/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
		.cell--btn  -  Cell Button Groups
	-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
	.cell--btn, 
	.cell--input {
		position: relative;
		padding: 0;

		&,
		button.btn--table-cell { border-radius: 0; }

	}

	.cell--btn {

		> .btn,
		> .btn-group {
			font-size:inherit;
			height: 100%;
			width: 100%;
			

		}

		> .btn,
		> .btn-group .btn:first-child {
			padding: $table-cell-padding 2rem $table-cell-padding $table-cell-padding !important;
			text-align: left !important;
			border: 0;
			border-radius: 0 !important;
			box-shadow: none !important;
			// font-weight: $font-weight-bold;

			&:hover { background-color: $gray-100; }
		}

		> .btn-group {
			display: flex;

			.btn {

				&:first-child {
					flex: 1;
					text-align: left;
				}

				&.dropdown-toggle-split {
					border-left: 1px solid $table-border-color;
					border-right: 2px solid $table-border-color;
				}
			}
		}

		&.sortable {

			> .btn-group .btn:first-child::after {
				display:inline-block;
				font-style: initial;
				font-family: "FontAwesome";
				content: "\f160";
				visibility: hidden;
				margin:0 0.5em;
				opacity:.5;
			}

			&.th--sorted-asc > .btn-group .btn:first-child::after {
				content: "\f160";
				visibility: visible;
			}

			&.th--sorted-desc > .btn-group .btn:first-child::after {
				content: "\f161";
				visibility: visible;
			}
		}


	}

	.cell--input {

		> input {
			position:absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			height:auto;
			padding-left:$table-cell-padding / 2;
			padding-right:$table-cell-padding / 2;
			border-top-width:0;
			border-bottom-width:0;
			outline:0;
			text-align:inherit;
			font-size:inherit;
			border-radius:0;
			
			&:focus {
				z-index:2;
			}
			//padding-right:2rem;
		}
	}
}

.omh-table-wrap {
	position:relative;

	&.border-0-first-tr {
		table tbody tr:first-child td {
			border:0;
		}
	}

	.omh-table-section {
		transition:opacity 0.4s ease;
	}

	&.loading {

		.omh-table-section {
			opacity:0.2;
		}

		&::after {
			display:block;
			opacity:1;
			transition:all 0.3s ease;
			position:absolute;
			top:50%;
			left:50%;
			height:32px;
			width:32px;
			transform:translate(-50%,-50%) rotate(0deg);
			content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='32' width='32'><circle cx='16' cy='16' r='14' stroke='#47b8ab' stroke-width='4' stroke-dasharray='74' fill='none' /></svg>");
			animation: loadingSpinner 1s infinite;
		}
	}
}

.omh-table-wrap-inner {
	max-width:100%;
	overflow:auto;

	&::-webkit-scrollbar {
		width:12px;
	}

	&::-webkit-scrollbar-track {
		background-color:#EFEFEF;
		border-radius:6px;
	}

	&::-webkit-scrollbar-thumb {
		background-color:#CCC;
		border-radius:6px;
	}
}

.omh-table-section-before {

	> *:last-child {
		@extend .mb-2;
	}
}

.omh-table-section-no_results {

	&:not(:empty) {
		~ .omh-table-wrap-inner {
			display:none;
		}

		~ .omh-table-section-pagination {
			display:none !important;
			
		}
	}
}

.omh-table-section-pagination {
	
	ul.pagination {

		li.page-item {

			&.active:first-child:last-child {
				display:none;
			}
		}
	}

}



.table.omh-table {

	th {
		position:relative;

		&[data-col="image"] {
			width:$table-img-thumb-size;
			color:rgba(255,255,255,0) !important;
		}
	}

	td,
	th {
		white-space:nowrap;

		&:not(.text-center) {
			padding-right:1.5rem;
		}
		

		.badge {
			font-size:100%;
		}

		.btn-thead {
			font-weight: inherit !important;
			font-size: inherit !important;
			letter-spacing: inherit !important;
			color:inherit;
		}

		// &:first-child {
			

		// 	> .btn-thead {
		// 		padding-left:2px !important;

		// 	}
		// }

		.fancy-select-wrap {
			padding-top:0;
		}

	}

	// &:not(.table-equal-width) {
	// 	td, 
	// 	th {
	// 		&:last-child {
	// 			width:100%;
	// 		}
	// 	}
	// }

	// .table-action, // dev:remove (after 
	.row-action {
		@include d-ib;
		position: relative;
		font-size: $font-size-sm;
		// text-transform:uppercase;
		font-weight:$badge-font-weight;
		letter-spacing: $letter-spacing-sm;
		z-index: 5;
		opacity: 0;
		cursor:pointer;

		
		transition: all 0.2s;

		i {
			z-index: -1;
		}

		

		&.row-action--show {
			opacity:1;
		}

		&:not(.btn) {
			color: $gray-600;

			&:hover {
				color: $primary;
			}
		}

		+ .row-action {
			margin-left:1em;
			// &::before {
			// 	content: '|';
			// 	display:inline-block;
			// 	text-align:center;
			// 	margin:0 0.5em;
			// 	color:$gray-200 !important;
			// 	pointer-events:none;
			// }
		}
	}

	

	thead.omh-table-section-headers th {
		border-top: 0;
		color:$gray-800;
	}

	tr {
		transition:all 0.3s ease;

		img {
			height:$table-img-thumb-size;
			width:auto;
			margin-bottom:-10px;
			margin-top:-10px;
			transition:all 0.2s ease;
			box-shadow:none;
		}

		&.row--template {
			opacity:0;
			visibility: hidden;

			*, *:before, *:after {
				height:0 !important;
				min-height:0 !important;
				max-height:0 !important;
				opacity:0 !important;
				visibility: hidden;
				line-height:0 !important;
				font-size:0 !important;
				
				@include pbm-0;

				overflow:hidden !important;
				-webkit-appearance:none;
				-moz-appearance:none;
			}

			
		}

		&[data-default-row-action]:hover {
			background:$gray-100;
			cursor:pointer;

			img {
				box-shadow:0 0 2px rgba(0,0,0,0.2);
			}
			.row-action {
				opacity:1;
			}
		}

		td {
			vertical-align: top;

			&.td-thumbnail {
				// min-width:100px;
				vertical-align: middle;

				.td-thumbnail-placeholder {
					background: $gray-300;
					text-align: center;
					height: $table-img-thumb-size;
					width: auto;
					line-height: $table-img-thumb-size;
				}
			}

			&.td-primary {
				font-weight:$font-weight-bold;

				.row-actions {
					font-weight: $font-weight-normal;
				}
			}
		}
	}

	th[data-col="role"] {
		min-width:180px;
	}

	th[data-col="chapter"] {
		min-width: 200px;
	}

	th[data-col="activation_link"] {
		min-width: 300px;
	}

	td[data-col="actions"] {

		> *:not(:first-child) {
			margin-left:6px;
		}
	}
	
	

	
}

.price-val {
	&::before {
		content:'$';
	}
}

.sorted-none .field-sorting {
	color: $gray-300;
}

.sorted-desc .field-sorting {

	&::before {
		color: $black;
	}

	&::after {
		color: $gray-300;
	}
}

.sorted-asc .field-sorting {

	&::before {
		color: $gray-300;
	}

	&::after {
		color: $black;
	}
}

.field-sorting {
	width: 20px;
	height: 1em;
	display: inline-block;
	line-height: inherit;
	vertical-align: text-top;
	position: relative;
	margin-left: 0.3em;

	&::before,
	&::after {
		position: absolute;
	}

	&::before {
		font-family: FontAwesome;
		content: theme-icon('sort-desc');
	}

	&::after {
		font-family: FontAwesome;
		content: theme-icon('sort-asc');
	}
}
