// Tiers
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

.active-tier {

	&:not(.garment-tier--below-min) {
		background-color: theme-color-level("primary", -6);	
	}
	
	&.garment-tier--below-min .progress {
		background-color:theme-color-level('warning',-3);
	}
}
.garment-tier {
	position:relative;
}
.tier-progress {
	
	@include fill-parent-abs;
	//width:0;
	color:#FFF;
	
	text-align:center;

	.progress {
		height:100%;
		width:0;
		background-color:theme-color-level('primary',-3);
		overflow:hidden;
	}

	span {
		font-weight:$font-weight-bold;
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
	}
}

// Screen: Bulk Order Group Summary
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

// Actions, Badge, Countdown
.omh-bulk-order-actions-wrap {
	@media screen and (min-width: 1001px) {
		text-align: right;
	}
}

// Submissions Close Text
.omh-bulk-order-members-submission-window {
	@media screen and (min-width: 1001px) {
		text-align: right;
	}
	@media screen and (max-width: 1000px) {
		margin-bottom: 1rem;
	}
}

.omh-bulk-order-actions-wrap .omh-bulk-order-status { margin-bottom: 8px; }

.omh-bulk-order-actions-member-wrap { margin-top: -4px; }

// .mh-extend-submission-window .omh_datepicker { 
// 	height: 0;
// 	overflow: 0;
// 	padding: 0;
// 	border: 0;
// 	box-shadow: none;
// }

.mh-extend-submission-window-actions { display: none; }

.bulk-order-summary-input { max-width: 100%; }


// Countdown Timer
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- 
.is-countdown {
	
	border: 0 !important;
	background: transparent !important;

	.countdown-row {

		width: auto;
		padding: 0 !important;

		.countdown-section {
			width: auto;
			margin: 0 5px;

			@media screen and (max-width: 1000px) {
				margin-bottom: 15px;
			}

			.countdown-amount {
				
				color: $primary;
				font-size: 20px;
				font-weight: 800;
				line-height: 1;
			}

			.countdown-period {
				font-size: 10px;
				line-height: 1;				
			}
		}
	}
}