/**
 * _mh_form-create_product.scss
 * Form styling for Create Product form of Merch.House
 * 
 * ONYX DESIGN
 * onyxdesign.net
 */

 /* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
		Embedded Inksoft Designer
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

$inksoft-grey-bg: rgb(242, 242, 242);
$inksoft-header-text-color: #222;
$inksoft-light-text-color: #a2a2a3;

// Wrapper for Create Product form
.mh-create-product-wrapper {
	min-height: 475px;

	.mh-form {
		opacity: 0;
		transition: opacity 0.3s ease 0.2s;
		pointer-events:none;
	}

	&.show-form {

		.mh-form {
			opacity: 1.0;
			pointer-events: all;
		}

		#mh-design-type-wrap {
			opacity: 0;
			pointer-events: none;
		}
	}
}

// Design Type selector
// #mh-design-type-wrap {	
// 	width:100%;
// 	transition:opacity 0.3s ease;

// 	.omh-design-type-option {
// 		@include d-b;
// 		max-width:300px;
// 		min-width:240px;
// 		margin:10px;
// 		border-radius: $btn-border-radius;
// 		background-color:$gray-200;
// 		padding:3em 1em;
		
// 		transition:all 0.3s ease;
// 		border:2px solid $gray-200;
		
// 		.title {
// 			text-align:center;
// 		}

// 		&:hover {
// 			border:2px solid $gray-300;

// 			.omh-dt__icon {
// 				color: $primary;
// 			}

// 			// .omh-dt__cta {
// 			// 	opacity:1.0;
// 			// }
// 		}

// 		&.selected {
// 			border:2px solid $primary;
// 			background-color:$gray-300;
// 		}
// 	}

// 	.center-content {
// 		justify-content: center;
// 	}

// 	.omh-dt__icon {
// 		font-size:300%;
// 		transition:color 0.3s ease;
// 		color: $primary;
// 		opacity: 0.75;
// 	}

// 	.omh-dt__title {
// 		margin:1em 0;
// 	}

// 	.omh-dt__description p {
// 		font-size:1.2em;
// 		line-height:1.2em;
// 		margin-bottom:1em;
// 	}
// }

#mh-design-type-wrap {

	.sales-type-card {
		height:100%;
		transition:$transition-base;
		cursor:pointer;

		.badge {
			text-transform: uppercase;
		}

		.card-body,
		.card-header,
		.badge {
			transition:$transition-base;
		}

		.card-body {
			margin-top:-2em;
		}

		.list-group-item {
			background-color: transparent;
			border: 1px solid rgba(0, 0, 0, 0.05);
			
			&:first-child {
				border-top:0!important;
			}
			&:last-child {
				border-bottom: 0 !important;
			}
		}

		&:not(.selected):hover {
			
			background-color:$gray-200;

			.card-body {
				
			}
		}

		&.selected {
			border-color:$primary !important;
			background-color:theme-color-level('primary', -9);

			.card-header {
				background-color:theme-color-level('primary', -3);
			}
		}
	}

	button.hide-overlay {
		text-transform:capitalize;
	}
}

#mh-dashboard.screen--create-product {

	&[data-selected-sales-type="retail"] {

		.omh-field-wrap--deliver_date {
			display:none;
		}
	}
}
#embeddedDesigner {
	background-color: $inksoft-grey-bg;
	font-family: $font-family-sans-serif !important;

	#dsContainer {
		height:662px;

		// -=-=-=-=-=-=-=-=-=-
		// General Overrides
		// -=-=-=-=-=-=-=-=-=-

		* {
			box-sizing: content-box !important;
		}

		ul {
			margin: 0 !important;

			li {
				list-style: none !important;
			}
		}

		textarea {
			padding: 12px 0 12px 1% !important;
			font-size: 1.8em !important;
			color: $inksoft-light-text-color !important;
		}

		// -=-=-=-=-=-=-=-=-=-
		// Left Sidebar
		// -=-=-=-=-=-=-=-=-=-

		.isd-link-block {

			li { 
				margin: 0 !important;
			    background: 0 0 !important;
			    border: none !important;
			    border-radius: 0 !important;
			    padding: 0 !important;
			    position: relative !important;
			}

			// sidebar option text
			.icon-label {
				width: inherit !important;
				background-color: transparent !important;
				color: $inksoft-header-text-color !important;
				font-family: $font-family-sans-serif !important;
			}

			// Hide the 'Finalize' section
			> .isd-header:last-of-type {
				&, & + ul {
					display: none !important;
				}
			}
		}

		// Color Selects
		.isd-color-custom,
		.isd-color-picker {
			li[data-color] { margin: 0 4px 4px 0 !important; }
		}
		
		#colorsInDesignContainer > ul > li {
			margin: 0 4px 4px 0 !important;
		}

		// Change product Modal
		#browseProductsSingle {

			// Left Column
			// ==========

			img, li:not([data-color]) { margin-bottom: 0 !important }

			// search box
			#isd-product-category-search-form {

				& ~ div {
					margin-bottom: 25px !important;
				}

				// icon
				.isd-search {
					z-index: 2;
				}


				// search field
				input {
					width: 144px !important;
				    padding: 12px 7px 12px 40px !important;
				    float: left !important;
				    margin-right: 3px !important;
				    background: #fff !important;
				    font-size: 14px !important;
				}
			}

			.isd-select-wrap {
				font-size: 14px !important;
			}

			// product listing in search results
			li.isd-product-li {

				height:210px !important;

				a.p {
					height: auto !important;
					
					strong { 
						padding: 5px 0 !important; 
						font-size: 14px !important;
					}
				}
			}

			// Right Column
			// ==========

			.isd-browse-products {

				// Select Product button
				a.isd-button-primary {
					// @extend .mh-button-secondary;
				}

				.isd-nav-tabs ul li {
					font-size: 12px !important;
					
					a.active {
						color: $primary !important;
					}
				}
			}

		}

		// Image Upload Modal
		#selectUploadType {

			.isd-uploaderLandingTexts {
				margin-bottom: 0 !important;

				h2 { font-weight: bold; }
			}

			fieldset {
				max-width: 84% !important;
			}

			#uploadForm {
				margin-top: 25px !important;

				// Submit button
				a.isd-button-primary {
					// @extend .mh-button-secondary;
				}
			}
		}

		// Add Art Modal
		.isd-change-art-hover {
			padding: 14px 17px !important;

			> ul {
				margin-top: 10px !important;
			}
		}

		// Add names & numbers
		.isd-add-numbers {
			
		}

		.isd-numColorChoices [type="radio"] {
			position:relative !important;
			left:0 !important;
			visibility:visible !important;
		}

		.isd-uploaderModalBody {
			.mobile-text {
				display:none;
			}
		}

		// -=-=-=-=-=-=-=-=-=-
		// Right Sidebar
		// -=-=-=-=-=-=-=-=-=-

		.isd-sidebar {

			// the up/down clicker components
			.isd-up-down-btn {

				input.isd-txt-btn {
					height: 35px !important;
					float: left !important;
					margin: 7px 0 0 0 !important;
					padding: 0 0 0 5px !important;
					text-align: center !important;
					border: 1px solid #afafaf !important;
				}
			}
		}

		// -=-=-=-=-=-=-=-=-=-
		// Bottom Section
		// -=-=-=-=-=-=-=-=-=-

		// Hide all buttons except 'Get a Quote'
		.isd-nav-bottom {
			display: none !important;

			> div:not([is-tooltip="8"]),
			.isd-save-share {
				display:none !important;	
			}

			// Show Quote button
			> div[is-tooltip="8"] {
				display:block !important;
			}
		}

	}
}