#mh-dashboard-content {
    background: #f6f6f6;
}

.card-body + .card-body {
    border-top: $card-border-width solid $card-border-color;
}

// override FontAwesome styling for icons in input group content
.input-group-text > [class*="fa-"] {
    font-size: inherit;
    width: auto;
    height: auto;
    line-height: inherit;
    top: 0;
}

body.page-template-omh-template-dashboard {
    #footer-outer,
    #mh-dashboard-wrap {
        @include media-breakpoint-up(lg) {
            padding-left: $drawer-width;
        }
    }

    .mh-header-extra-content {
        @include media-breakpoint-up(lg) {
            position: absolute !important;
            width: auto !important;
            top: 0;
            right: 15px;
            margin: 0 !important;
        }
    }

    p {
        padding-bottom: 0;
    }
}

.input-social-profile .input-group-prepend {
    .input-group-text:first-child {
        min-width: 44px;
        text-align: center;
        justify-content: center;
    }

    .input-group-text:last-child {
        min-width: 155px;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}

// Screen: View Retail Order
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

// Hide 'Order Again' button
#mh-dashboard:notp.order-again {
    display: none;
}

// Dashboard Header
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

#mh-dashboard-header {
    h1 {
        display: inline-block;
        width: auto;
    }

    @include media-breakpoint-down(md) {
        padding-top: 1rem;

        margin-bottom: 0;
        padding-bottom: 0;

        > .col {
            margin-bottom: 0;
        }

        .mh-header-title {
            background-color: $gray-100;
            z-index: 5000;
            position: fixed;
            top: $site-nav-height-small;
            width: 100%;
            left: 0;
            box-shadow: $box-shadow-sm;

            h1 {
                padding-left: 56px;
                margin-bottom: 0 !important;
                font-size: 20px;
                margin-bottom: 0 !important;
                line-height: 40px;
                font-weight: 500;
                letter-spacing: 0.03em;
                color: $gray-600;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
            }
        }

        hr {
            display: none;
        }
    }

    // Page Actions
    .mh-header-page-actions {
        font-weight: 600;
        font-size: $font-size-sm;

        .mh-header-page-action {
            color: $gray-600;
            margin-right: 20px;

            &:hover {
                color: black;
            }
        }
    }

    // Back Links
    .mh-header__back-link {
        color: $gray-600;
        font-weight: $font-weight-medium;

        &:hover {
            color: $gray-900;
        }

        &::before {
            content: "\f053";
            font-family: FontAwesome;
            display: inline-block;
            font-size: inherit;
            line-height: inherit;
            color: inherit;
            margin-right: 0.5rem;
        }
    }

    @media screen and (min-width: 1000px) {
        .mh-header__back-link-wrap {
            position: absolute;
            top: -32px;
        }
    }

    // Extra Content
    .mh-header-extra-content {
        width: auto;
    }
}

#mh-dashboard .woocommerce-order-details .order-again {
    display: none;
}
#mh-dashboard .mh-question-icon-tooltip {
    padding-left: 0.5rem;
}
// dev:todo dev:improve
.omh-file-upload-input {
    opacity: 1 !important;
    background: $gray-300;
}

.fa-sign-out {
    transform: rotate(180deg);
}

// .sf-menu a {

// 	&.sf-with-ul {

// 		&::after {
// 			font-family:FontAwesome;
// 			content: "\f0d7";
// 			display:inline-block;
// 			margin-left:0.25em;
// 		}

// 		&:not(:hover)::after {
// 			color:#888 !important;
// 		}
// 	}
// }

/* Menu Icon */
// .mh-account-icon a i {

// 	font-family: 'icomoon';
// 	font-style: normal;

// 	&::before {
// 		content: "\E074";
// 	}
// }
