
html .woocommerce ul.products {
	.material.product {
		.pgi-chapter-link {
			font-weight:500;
			letter-spacing:0.03em;

		}

		h2 {
			color:$gray-800;
		}

		.product-wrap {

			.product-meta {
				position: relative;

				.product-chapter {
					position: absolute;
					top: -2px;
					// bottom: 100%;
					z-index: 10;
					font-size: 20px;
					font-weight: 800;
					color: $gray-800;
					text-shadow: 0 0 0.2em rgba(255,255,255,0.5);
				}

				> .price {
					font-size:18px;
					font-weight:300;
					color:$gray-600 !important;
				}
			}
		}

		&:hover {
			h2 {
				color:#000000 !important;
			}
			.product-wrap {

				.product-meta {

					> .price {
						// opacity:1 !important;
					}
				}
			}
		}
	}
}

.shop-section-title {
	font-size: 16px !important;
}