

body.woocommerce-account.woocommerce-page .woocommerce {
	> #customer_login {
		.nectar-form-controls {
			.control {
				position:absolute;
				width:100%;
				opacity:0;
				color:$gray-800 !important;
				text-decoration:none !important;
				background-image:none;
				margin-left:0;
				margin-right:0;

				&:first-child {
					
				}

				&.active {
					opacity:1;
					position:relative;
				}
			}
		}
	}
}

