body.woocommerce-cart {
  .cart-empty.woocommerce-info {
    background-color: transparent !important;
    color: $body-color !important;
  }
}

.nectar-slide-in-cart {
  top: inherit;

  .mini_cart_item.woocommerce-mini-cart-item {
    padding-left: 0px !important;
    img {
        height: auto;
        width: 75px;
        margin-left: 0;
        margin-right: 15px;
        float: left;
        margin-bottom: 0;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
  }
  span.quantity {
    // display: inline;
    float: right;
    padding-top: 20px;
    font-weight: bold;
  }

// to match dashboard p
dl.variation {
  line-height: 1.6 !important;
  clear:none;

  dt {
    display: none !important;
  }

  dd {
    display: block;
    float: left;
  }

  dd:not(:first-of-type) ::before {
    content: ", ";
  }
}
dl::after {
  clear: none !important;
}
}

dl.variation {
  dt {
    line-height: 1.6 !important;
  }
}