// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// 	Variables - move later
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
$pdp-meta-width: 300px;
$pdp-meta-item-spacing: $spacer * 1;
$pdp-meta-item-header-size: $spacer * 1;
$pdp-meta-item-header-spacing: $pdp-meta-item-spacing * 0.5;
$pdp-meta-price-size: $spacer * 1.5;

// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// 	Product Page Layout
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
.woocommerce.single-product div.product[data-tab-pos] {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  & > .col {
    float: none;
    width: 50%;
    margin: 0;
    padding: 0;
  }

  section.related.products {
	width: 100%;
	
	.woocommerce-loop-product__title{
		font-size: inherit !important;
		line-height: inherit !important;
	}
  }

  @media screen and (max-width: 1000px) {
    flex-direction: column;

    & > .col {
      width: 100%;
    }

    .single-product-main-image {
      margin-bottom: $pdp-meta-item-spacing;
    }
  }

  // // Thumbnails to the side on desktop
  // @media screen and (min-width: 1001px) {
  // 	// If we have thumbnails
  // 	&.gallery--has-thumbnails {
  // 		// Alter the size of the containers
  // 		.single-product-main-image { width: 65%; }
  // 		.single-product-summary { width: 35%; }
  // 		// move the zoom to the left
  // 		div.images .woocommerce-product-gallery__trigger {
  // 			right: 0;
  // 			left: 0.5em;
  // 		}
  // 		// move the thumbnails to the side
  // 		.woocommerce-product-gallery {
  // 			display: flex;

  // 			ol.flex-control-nav {
  // 				width: 23;
  // 				position: relative;

  // 				li {
  // 					width: 100%;
  // 					float: none;
  // 					position: relative;
  // 					display: block;
  // 				}
  // 			}
  // 		}

  // 	}
  // }

}

body.woocommerce.single-product .single-product-main-image {
  .images .slide,
  .product-thumbs .thumb {
    &:not(.enabled) {
      display: none;
    }
  }
}

// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// 	PDP Meta Layout
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
html body.single-product .single-product-summary {
  .summary.entry-summary,
  .woocommerce-tabs {
    width: $pdp-meta-width !important;
    padding: 0 !important;
    margin: auto !important;
    float: none !important;
  }
  .pdp-signup-cta {
    
      border: 2px solid $gray-200;
      border-width: 2px 0px;
      padding: 1em;
      width: $pdp-meta-width !important;
      margin: auto !important;

      .pdp-signup-cta__heading {
        text-align: center;
        color: $primary;
      }

      .pdp-signup-cta__body {
        text-align: center;
        padding-bottom: .5em;
      }      
      .pdp-signup-cta__button {
        display: inline-block;
        // margin: auto !important;
        // @include force-button-size();
        
        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1 !important;
        border-radius: .15rem;
        
        margin: 0 auto;
        display: block;
      }
  }
}
// html body.single-product .summary.entry-summary + .woocommerce-tabs {
html body.single-product .single-product-summary {
  form.cart {
    margin-bottom: 1em !important;
    margin-top: 1em;
  }

   .pdp__meta-item.pdp__meta-item--variations {
    width: 100% !important;
    margin: 0 0 $pdp-meta-item-spacing 0 !important;
    padding: 0 !important;
  }

  .pdp__meta-item-header {
    margin-bottom: $pdp-meta-item-header-spacing !important;
    font-size: $pdp-meta-item-header-size !important;
    text-transform: uppercase !important;
    font-weight: $font-weight-bold !important;
    line-height: 1 !important;
    letter-spacing: 0.035em;
    width: 100%;
  }
}

// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// 	PDP Meta Items
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

// Title
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
html body .single-product-summary .summary.entry-summary h1.pdp__meta-item--title {
  line-height: 1 !important;
  margin-bottom: 1em !important;
}

// Price
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
html body .summary .pdp__meta-item--price {
  &,
  * {
    font-size: $pdp-meta-price-size !important;
    line-height: 1 !important;
  }
}

// Variations Table
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
div.product form.cart .variations {
  td {
    padding: 0 !important;
    margin: 0 !important;
  }

  td.label label {
    position: relative !important;
    top: 0 !important;

    color: $gray-600 !important;
  }

  label {
    color: $gray-600 !important;
  }

  tr:not(:first-child) .pdp__meta-item-header {
    margin-top: $pdp-meta-item-spacing !important;
  }
}

div.pdp__meta-item.pdp__meta-item--qty {

	margin-bottom: 0px !important;
	
	> label{
		color: $gray-600 !important;
	}
}

html.js {
  div.product {
    .fancy-select-wrap {
      display: none !important;
    }
  }
}

.size-blocks-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.pdp-option-block {
  @include prefix(transition, all 0.3s ease);
  display: inline-block;
  height: 100%;
  text-transform: uppercase;
  background-color: $gray-200;
  font-weight: $font-weight-bold;
  cursor: pointer;
  text-align: center;
  border-radius: $btn-border-radius;
  font-size: 1.2em;

  margin-right: 0.5rem;

  &:hover:not(.selected) {
    background-color: darken($gray-200, 10%);
  }

  &.selected {
    color: #ffffff;
    background-color: theme-color(dark);
  }
}

.size-select-block {
  flex: 1 0;
  padding: 1em 0;
}

.pdp-option-swatch {
  padding: 2px;
  flex: 1 0 auto;
  max-width: 75px;
  // border:2px solid transparent;

  img {
    display: block;
    margin: 0 !important;
    border-radius: $btn-border-radius;
  }

}

// Hide garment section if only one
div.product form.cart .variations .pdp-option--pa_garment[data-options-count="1"] {
  display: none;

  & + tr .pdp__meta-item-header {
    margin-top: 0 !important;
  }
}

// select#pa_size ~ .select2-container { display:none; }

body.single-product {
  .reset_variations {
    display: none !important;
  }

  div.product form.cart .variations td.label {
    padding-right: 0 !important;
    width: 0 !important;
    display: block !important;

    label {
      position: absolute;
      top: -1.25em;
    }
  }

  #tab-description h2 {
    display: none;
  }
}

// Quantity
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
body.woocommerce-cart .cart .quantity,
body.woocommerce .cart .quantity,
body.ascend.woocommerce .cart .quantity,
body.ascend .woocommerce .cart .quantity {
  margin: 0 !important;
  padding: 0 !important;

  input.qty {
    height: 38px !important;
    font-size: 18px !important;
  }

  input.plus {
    height: 20px !important;
    line-height: 17px !important;
    background-color: $gray-200 !important;
    font-weight: $font-weight-bold !important;
    box-shadow: none;
  }

  input.minus {
    height: 19px !important;
    line-height: 17px !important;
    background-color: $gray-200 !important;
    font-weight: $font-weight-bold !important;
    box-shadow: none;
  }
}
// Price
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
div.woocommerce-variation.single_variation > div.woocommerce-variation-price > span {
  color: inherit;
}

.pdp__meta-item--qty {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;

  a.bulk-pricing-cta {
    flex: 1 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.04em;
    font-weight: 500;
    color: inherit;

    &:hover {
      color: $link-hover-color !important;
    }

    div {
      line-height: 1.2;
      display: inline-block;
      width: auto;
      white-space: nowrap;

      &:last-child {
        font-size: 12px;
        color: $text-muted;
      }
    }
  }
}

// Add to cart
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// Add to cart wrap
.woocommerce-variation-add-to-cart.woocommerce-variation-add-to-cart-enabled { margin: 0 !important; }
// Add to cart button
.woocommerce-page button[type="submit"].single_add_to_cart_button,
body[data-form-submit="regular"].woocommerce-page .container-wrap button[type="submit"].single_add_to_cart_button,
.ascend.woocommerce-page .container-wrap button[type="submit"].single_add_to_cart_button,
body[data-button-style="rounded"].ascend.woocommerce-page
  .container-wrap
  button[type="submit"].single_add_to_cart_button {
  text-transform: none !important;
  margin-top: 1rem;
}

// Information Tabs
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// html body .single-product-summary .summary.entry-summary .product_meta { margin: 0 !important; }

// Information Tabs
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
#tab-additional_information {
  h2 {
    display: none;
  }

  table {
    margin: 0 !important;

    &:not(:nth-of-type(1)) {
      border-top: 0 solid transparent !important;
    }
  }
}

.woocommerce div.product .woocommerce-tabs .panel {
  margin: 0 !important;
  padding-top: $pdp-meta-item-spacing * 0.5 !important;

  table.shop_attributes {
    margin: 0 !important;
  }
}

body.single-product.woocommerce div.product {
  // Product Tabs
  .woocommerce-tabs {
    ul.tabs {
      border-bottom: 1px solid #dee2e6 !important;

      > li {
        width: auto !important;

        &:hover {
          cursor: pointer;
        }
      }
    }

    // Garment Info Tab
    li {
      &,
      &.active,
      a {
        cursor: default !important;
      }

      &,
      &.active {
        padding: 0 !important;
        height: auto !important;
        background-color: $white !important;

        &:before,
        &:after {
          display: none;
        }
      }

      a {
        background-color: $white !important;
        color: #212529 !important;
        padding: 0.25rem 1.25rem !important;
        font-size: 1rem !important;
        font-weight: $font-weight-bold !important;
        font-family: $font-family-base !important;
        line-height: 1.5rem !important;
      }

      &.active a {
        border-bottom: 2px solid $primary !important;
      }
    }
  }
}

.wc-tab {
  p {
    font-size: 12px;
  }

  .product-cart-qty-wrap {
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
    text-align: right;

    span:first-child {
      float: left;
      text-align: left;
    }

    span:not(:first-child) {
      @include d-ib;
      font-size: 18px;
      text-align: right;
      padding-left: 4px;
      min-width: 42px;
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 100%;
        font-size: 10px;
        width: 100%;
        right: 0;
        text-align: right;
      }

      &#cart-qty-current:after {
        content: "Current";
      }

      &#cart-qty-added:after {
        content: "Added";
      }

      &#cart-qty-new:after {
        content: "New";
      }
    }
  }

  .garment-product-details-wrap {
    .garment-product-details {
      h5.garment-product-details-title {
        font-size: 12px;
      }

      .garment-product-detail-header {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0.035em;
        width: 100%;
        color: #aaaaaa;
      }

      .garment-product-detail {
        margin-bottom: 0.5em;
        line-height: 1;
      }
    }
  }

  .omh-table-wrap--garment-price-tiers {
    table.omh-table {
      border: none;

      th,
      td {
        border-width: 0 !important;
        padding: 4px;
        text-align: center;
        font-size: 14px;
        transition: $transition-base;

        &:first-child {
          text-align: left;
          padding-left: 0;
          font-size: 12px;
        }

        &.preview-tier {
          background-color: theme-color-level("primary", -9);
        }
      }

      thead {
        th {
          .current-qty {
            @include d-b;
            position: absolute;
            bottom: 0;
            left: 2px;
            font-size: 10px;
            color: $gray-600;
            line-height: 10px;
          }
        }

        tr:last-child th {
          border-bottom: 1px solid $table-border-color !important;
        }
      }

      tbody {
        td {
          font-weight: 500;
          // font-size:14px;

          &.garment-image {
            padding: 0;
          }

          &.price-val:before {
            margin-right: 2px;
            font-size: 11px;
            font-weight: 400;
          }

          img {
            margin: 0;
            mix-blend-mode: multiply;
          }
        }

        tr.selected-garment {
          td {
            background-color: $gray-200;

            &.preview-tier {
              background-color: theme-color-level("primary", -6);
            }
          }
        }
      }
    }
  }
}

.pdp-campaign-status {
  font-size: 18px !important;
}

.single-product-summary > .woocommerce-tabs > div > ul {
	display: none;
}