/**
 * _mh_form-start_bulk_order.scss
 * Form styling for Start Bulk Order form of Merch.House
 * 
 * ONYX DESIGN
 * onyxdesign.net
 */

 .omh-start-bulk-order-wrap {

 	.mh-bulk-order-type-form {
		@include d-b;
		max-width:400px;
		position:relative;
		margin:25px auto;
		margin-bottom:2em;
		text-align: center;

 		display: none;

 		input[type="text"] {
 			// width: 200px;
 		}
 	}

 	#mh-bulk-order-member-options-wrap {
 		display: none;
 	}

 	#mh-bulk-order-direct-options-wrap {
		display: none;
	}

 	&.show-form {

 		&.member-bulk-order-options {

 			.omh-order-type-option__member {
			
				border:2px solid $primary !important;

 				.omh-ot__cta {
 					background: $primary;
 					opacity: 1 !important;
 				}
 			}

 			#mh-bulk-order-member-options-wrap {
 				display: block;
 			}
 		}

 		&.direct-bulk-order-options {

 			.omh-order-type-option__direct {
			
				border:2px solid $primary !important;

 				.omh-ot__cta {
 					background: $primary;
 					opacity: 1 !important;
 				}
 			}

 			#mh-bulk-order-direct-options-wrap {
 				display: block;
 			}
 		}

 		.mh-bulk-order-type-form {
 			display: block;
 		}
 	}
 }

 #mh-bulk-order-type-wrap {
	
	@include d-fb;
	@include flex-wrap( wrap );
	@include align-items( stretch );
	@include align-content( center );
	@include justify-content( center );

	width:100%;
	z-index:9999;
	transition:opacity 0.3s ease;

	.omh-order-type-option {
		@include d-fb;
		@include justify-content(space-between);
		@include flex-direction(column);
		@include flex-wrap(nowrap);

		width:90%;
		max-width:300px;
		min-width:240px;
		margin:10px;
		text-align:center;
		border-radius: $btn-border-radius;
		background-color:$gray-200;
		padding:3em 1em;
		
		transition:all 0.3s ease;
		border:2px solid $gray-200;

		&:hover {
			border:2px solid $primary;

			.omh-ot__icon {
				color: $primary;
			}

			.omh-ot__cta {
				opacity:1.0;
			}
		}
	}

	.omh-ot__icon {
		font-size:300%;
		transition:color 0.3s ease;
		color: $primary;
		opacity: 0.75;
	}

	.omh-ot__title {
		margin:1em 0;
	}

	.omh-ot__description p {
		font-size:1.2em;
		line-height:1.2em;
		margin-bottom:1em;
	}

	.omh-ot__cta {
		@include d-ib;
		border-radius: $btn-border-radius;
		background-color: $primary;
		transition:all 0.3s ease;
		opacity:0;
		color:#FFFFFF;
		font-weight:bold;
		padding:0.5em 1em;
		text-align:center;
		cursor:pointer;

		@media (max-width:1024px) {
			opacity:1;
		}

		&:hover {
			background-color: $primary;
		}
	}
 }