@media screen and (min-width: 1001px) {
    .bulk-checkout__left {
        float: left;
        width: 50%;
        margin-right: 2%;
        min-height: 200vh;
    }

    .bulk-checkout__right,
    .bulk-checkout__customer-details {
        overflow: hidden;
    }

    .bulk-checkout__customer-details::after {
        content: '';
        clear: both;
    }
}

.bulk-checkout__right {

    .woocommerce-order-review-order-table .cart_item img {
        max-height: 200px;
        width: auto;
    }
}