// Dev: move



// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  Price Tiers Table
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

#mh-dashboard-wrap .omh-table-wrap--product-price-tiers {
    @include d-fb;
    height:92px;

    .omh-table-wrap-inner {
        flex:1 0 auto;

        table {
            margin:0;
        }
    }

}

#mh-dashboard-wrap .table--price-quantity-tiers {

    .product-price-tier-qty {
        @include d-b;
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        font-size: 10px;
        color:$gray-600;
    }

    // Remove price tier button
    .price-tier__number {
        position: relative;

        .price-tier__remove {
            position: absolute;
            top: 2px;
            right: 2px;
            color: $danger;
            font-size: 15px;
            width: 20px;
            height: 20px;
            line-height: 20px;
            border: 1px solid $danger;
            border-radius: 20px;
            padding-left: 1px;
            cursor: pointer;
            transition: color 0.3s ease, background-color 0.3s ease;

            &:hover { 
                background-color: $danger;
                color: $white;
            }
        }

        // Only allow removal on last tier
        &:not(:last-of-type) .price-tier__remove { display: none; }

        // Dont allow removal of tier 1 ever
        &[data-price-tier="1"] .price-tier__remove { display: none; }

        .product-price-tier-qty {
            left:3px;
        }
    }

    

    // Quanity Inputs Row
    .price-tier__quantity-row .cell--input {
        min-width: 80px;
    }
}

.pricing-tiers {

    .cell--input {
        min-width: 65px !important;

        >input {
            padding: 0 !important;
        }
    }
}

// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  Variations Table
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
.omh-table-wrap[data-table-type="Product_Garments"] {

    .garment__template-row {
        > td {
            padding-top:30px;
            position:relative;

            .omh-garment-name {
                position:absolute;
                top:8px;
                white-space: nowrap;
            }

            .garment-blank-image {
                width: auto;
                margin: 0;
                height: 100%;
                display: block;
            }
        }
    }

    table.omh-table {
        margin-bottom:0;
    }

   

    .garment__image-placeholder {
        background-color: #EEE;
        height: 125px;
        width: 125px;
    }

    // input.garment__base-cost { min-width: 100px; }

    .table--garment-base-cost {
        width: auto;
        max-width: none;
        margin-bottom: 0;

        .cell--input { min-width: 100px; }

        tr:first-child th { border-top: none; }
    }

    // Sizes checkboxes
    .garment__sizes div {
        border: 1px solid #ced4da;
        border-radius: .25rem;
        display: inline-flex;

        .form-check {
            display: inline-block;
            text-align: center;

            * { margin: 0; }

            label { 
                width: 2em;
                padding: 10px 20px;
                text-transform: uppercase;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transition: background-color 0.3s ease;

                &:hover { background-color: $light; }
            }

            label, input { cursor: pointer; }

            &:not(:first-child) { border-left: 1px solid #ced4da; }

            input { width: auto !important; }
        }

    }

    // Add a garment row button
    .garment__add-row {
        padding: 0 !important;
    }

}

.garment-actions {

    input {
        display:none;


        + label {
            font-size:18px;
            color:#CCCCCC;

            &, i {

                @include transition($btn-transition);    
            }
            

            &:hover {
                cursor:pointer;
                color:#999999;
            }
        }

        &:checked + label i {
            &.fa-times-circle {
                color:$danger;
            }

            &.fa-star {
                color:$warning;
            }
        }


    }

    .garment__details { //dev:imrpove;
        display:none;
    }

    .garment__new {
        display:none;
    }    
}


// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  Add Garment Modal
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

// garment search results
.garment__search-results {

    .garment-search-loading {
        display:block;
        margin: 0 auto;
        transition:all 0.3s ease;
        height:32px;
        width:32px;
        transform:translate(-50%,-50%) rotate(0deg);
        content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='32' width='32'><circle cx='16' cy='16' r='14' stroke='#47b8ab' stroke-width='4' stroke-dasharray='74' fill='none' /></svg>");
        animation: loadingSpinner 1s infinite;
    }

    .form-check {

        input,
        label { cursor: pointer; }

        input { height: 1em; }

        label { padding-left: 0.5em; }
    }
}
