/*Hero*/
// .landing-page-header-row h1 {
//     line-height: 62px;
//     font-size: 42px;
// }

.landing-page-header-row {
    h3 {
        color: #000;
        line-height: 1.3em !important;
    }

    .nectar-button {
        text-align:center;
    }
}

#join-now {
    margin-bottom: 0.575em;
}

.landing-page-header-row .column-bg-overlay-wrap {
    max-width: 600px;
}

/*How Merch House Works*/
#merch-house-process .heading {
    margin-bottom: 0;
}

.mh-works-image {
    max-height: 200px;
    width: auto !important;
}

.order-process-heading h2 {
    color: #57C3B7;
}

/*Merch House difference*/
.iwithtext {
    max-width: 450px;    
}

.iwithtext:not(:last-child) {
    margin-bottom: 70px;
}

.iwithtext .iwt-icon img:not([srcset]) {
    width: 40px !important;
}

/*Testimonial Slider*/
.home .testimonial_slider[data-style="multiple_visible_minimal"] blockquote p {
    color: #000;
    font-weight: 600;
}

.home .testimonial_slider[data-style="multiple_visible_minimal"] blockquote span {
    color: #000;
}

.mh-modal {
    z-index: 99999;
}

/*Media Queries*/
@media only screen and (max-width:1000px){
    #run-campaigns .col {
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width:1000px) {
    #merch-house-process .col .wpb_column {
        margin-bottom: 4em;
    }
}

@media only screen and (max-width:1000px) {
    .order-process-details {
        max-width: none !important;
    }
}

@media only screen and (max-width:1000px){
    .iwithtext {
        max-width: none;
    }
}

@media only screen and (max-width: 480px){
	.homepage-btn {
		width: 100%;
	}
}

@media only screen and (max-width:1000px){	
	.flickity-viewport {
		div > blockquote {

			> .inner {
				padding: 10px 10px 10px 10px !important;
				font-size: 90%;
				line-height: normal;
				height: 100%;

				.title {
					font-size: 75%;
					line-height: normal;
				}

				> p {
					margin-top: 15px;
				}
			}
		}
	}
}

.omh-form-label {
	padding-bottom: 1.5%; 
}