// .btp-banner {
    
//     background-color: lightblue;
//     /*padding: 12px;*/
//     /*margin: 18px 24px;*/
// }

// .btp-radio-wrapper input {
//         display: none;
// }


.mh-design-gallery-item {
    width:100%;

    label.mh-design-gallery-item__label {
        cursor:pointer;
        display:flex;
        align-items:center;
        justify-content:center;
        padding:2px;
        border-radius:15px;
        border-style:solid;
        border-width:3px !important;
        border-color:rgba(255,255,255,0);
        overflow:hidden;
        height:250px;
        width:250px;
        margin:0 auto;
        transition:$transition-base;

        img {
            display:block;
            margin:0;
            border-radius:13px;
        }

        &:hover {
            border-color:$gray-300;
        }
    }

    input[type="radio"]:checked + label.mh-design-gallery-item__label {
        border-color:theme-color(primary);
    }

    &.choose-your-own {

        label.mh-design-gallery-item__label {
            border-color:$gray-200;
            border-style:dashed;
        }
    }

    &.mh-design-gallery-item--thumb {
        width:auto;
        display:inline-block;
        margin-right:5px;

        label.mh-design-gallery-item__label {
            width:70px;
            height:70px;
            border-radius:7px;

            img {
                border-radius:5px;
            }
        }
    }
}

.mh-design-gallery-selected-design__img {
    img {
		border-radius:15px;
		max-width:250px !important;
        height:auto;
        @include media-breakpoint-down(md) {
            margin:0 auto;
        }
    }
}

.mh-design-gallery-selected-design__thumbnails:not(:empty) {
    margin-bottom:12px;
    @include media-breakpoint-down(md) {
        text-align:center;
    }
}


// .btp-radio-wrapper img {
//     max-height: 250px !important;
//     max-width: 250px !important;
// }
// .btp-radio-wrapper .btp-your-own-design {
//     /*height: 100%;*/
//     /*width: 100%;*/
//     /*max-height: 250px;*/
//     /*max-width: 250px;*/
//     height: 250px;
//     width: 250px;
//     border: 2px dashed black;
//     vertical-align: middle;
//     /*display: inline-block;*/
//     /*padding: auto;*/
// }

// input[type="radio"]:checked + label{ 
//     font-weight: bold; 
//     border: 2px solid green;
// }