@import 'vendor/select2.min';

.omh-metabox-description {
	font-style: italic;
}

#chapterdiv .omh-select2,
#organizationdiv .omh-select2,
#collegediv .omh-select2 {
	width: 100% !important;
}

.side-metabox {
	width: 100%;

	input {
		width: 100%;
		margin: 0;
	}
}

.omh-metabox-table {

	tr {
		border-top: 1px solid #EEEEEE;
	}

	label span {
		color: #999;
		font-size: 12px;
		display: block;
		line-height: 20px;
		margin: 0;
		font-weight: normal;
	}
}

.omh-option-description {
	color: #999;
	font-size: 12px;
	display: block;
	line-height: 20px;
	margin: 0;
	font-weight: normal;
}
