// Base: ONYX Init & Bootstrap
@import 'dashboard/onyx_init';
@import 'dashboard/bootstrap-merchhouse';

// Templates
@import "dashboard/templates/template-homepage";
@import "dashboard/templates/template-dashboard";
@import "dashboard/templates/template-create-product";
@import "dashboard/templates/template-product";
@import "dashboard/templates/template-start-bulk-order";
@import "dashboard/templates/template-bulk-order";
@import "dashboard/templates/template-bulk-order-checkout";
@import "dashboard/templates/template-edit-product";
@import "dashboard/templates/template-plp";
@import "dashboard/templates/template-signup";
@import "dashboard/templates/template-cart";
@import "dashboard/templates/template-design-gallery-form";
@import "dashboard/templates/template-view-order";

// Components
@import "dashboard/components/store-notice";
@import "dashboard/components/menus";
@import "dashboard/components/site-header";
@import "dashboard/components/site-footer";
@import "dashboard/components/onyx-drawer";
@import "dashboard/components/badges";
@import "dashboard/components/buttons";
@import "dashboard/components/checkout";
@import "dashboard/components/graphs";
@import "dashboard/components/price-widget";
@import "dashboard/components/widget-sidebar";
@import "dashboard/components/storefront-header";
@import "dashboard/components/woocommerce";
@import "dashboard/components/icons";
@import "dashboard/components/mh-file-upload";
@import "dashboard/components/mh-forms";
@import "dashboard/components/logo";
@import "dashboard/components/hoverzoom";
@import "dashboard/components/social_icons";
@import "dashboard/components/landing-page";
@import "dashboard/components/shop-sidebar";
@import "dashboard/components/search";
@import "dashboard/components/login";
@import "dashboard/components/loading-overlay";

@import "vendor/flatpickr.min";

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
		MH General
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

body,
body * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body p {
	line-height:1.6 !important;
}

.greek-letters {
	font-family: serif;
}