/**
 * Add Content button
 * 
 * this is a ghost button with a dashed border
 * usually used in places where additional items can be added to lists
 */
 .add-content-btn {
 	@include d-b;
 	height:100%;

 	$add-content-btn-size: 20px;

 	> .add-content-btn__inner {

 		border-color: $light;
 		border-style: dashed;
 		border-top-width: 2px;
 		border-right-width: 2px;
 		border-bottom-width: 2px;
 		border-left-width:2px;
 		border-radius:$border-radius;
 		cursor: pointer;
 		transition: all 0.3s ease;
 		position:relative;
 		display:table;
 		height:100%;
 		

 		> .add-content-btn__content {
 			display:table-cell;
 			vertical-align:middle;
 			text-align:center;
 			padding:10px;
 			height:100%;
 			width:100%;
 			color:$gray-400;
 			transition:inherit;

 			&:after {
 			    content: '\002B';
 			    display: inline-block;
 			    color: $light;
 			    border: 2px solid $light;
 			    font-weight: bold;
 			    font-size: $add-content-btn-size;
 			    width: $add-content-btn-size * 2;
 			    height: $add-content-btn-size * 2;
 			    line-height: ($add-content-btn-size * 2) - 2px;
 			    border-radius: 50%;
 			    transition:inherit;
 			    cursor: pointer;
 			    text-align: center;

 			}

 			&:not(:empty):after {
 				margin-left:0.25em;
 			}
 		}
 	}

 	&.add-content-btn--right {
 		height:100%;

 		> .add-content-btn__inner {
 			height:100%;
 			border-left-width:0;
 			border-top-left-radius:0;
 			border-bottom-left-radius:0;
 		}
 	}

 	&.add-content-btn--bottom {
 		width:100%;

 		> .add-content-btn__inner {
 			width:100%;
 			padding:10px 20px;
	 		border-top-width:0;
	 		border-top-left-radius:0;
	 		border-top-right-radius:0;
	 	}
 	}

 	&:hover > .add-content-btn__inner { 
 	    border-color: darken($light, 7.5%); 

 	    > .add-content-btn__content {
 	    	color:$gray-600;

 	    	&:after {
	 	        border-color: darken($light, 7.5%);
	 	        color: darken($light, 7.5%);
	 	    }
 	    }
 	}
 }
