// .omh-order-signup-link {
//     color: rgb(35, 31, 32);
//     text-decoration: underline;
// }

div.omh_order_signup {
    display: inline-block;
    padding-top: 2em;
    padding-bottom: 2em;

    .omh-order-signup__heading {
        display: inline-block;
    }

    .omh-order-signup__button {
        display: inline-block;
        padding: 1em 1em;
        @include force-button-size();
        @media only screen and (max-width: 480px) {
            width: 100%;
        }
        @media only screen and (min-width: 1000px) {
            margin: 0 0 0 1em;
        }
    }
}

div.omh_order_thank_you {
    padding-bottom: 2em;
}

// .omh_order_thank_you {
div.omh_order_confirmation_info {
    padding: 1.5em 0 1em;
    font-size: 1em;
    > h4 {
        font-size: 1rem;
        padding: 0 0;
        margin-bottom: 0;
    }
}