.mh-graph__wrap {
	position: relative;
}

.mh-graph {
	@include media-breakpoint-down(sm) {
		visibility:hidden;
	}
}

.mh-graph__meta {
	@include fill-parent-abs;
	text-align: center;

	.mh-graph__number {
		line-height:.8;
	}

	.mh-graph__meta-primary {
		margin-top:27%;
		margin-bottom:4%;

		.mh-graph__number {
			font-size: 4em;

		}

	}

	.mh-graph__label,
	.mh-graph__secondary-wrap {
		white-space:nowrap;
	}

	.mh-graph__label a {
		color: #231f20;

		&:hover {
			color: $primary;
		}
	}

	.mh-graph__secondary {
		display:inline-block;
		width:auto;
		margin:0 3px;

		.mh-graph__number {
			font-size:15px;
			font-weight:bold;
		}

		.mh-graph__label {
			font-size:12px;
		}

		&:first-child {
			color:theme-color("warning");
		}

		&:nth-child(2) {
			color:theme-color("primary");
		}
	}

	@include media-breakpoint-down(sm) {
		.mh-graph__meta-primary {
			margin-top:5%;
			font-size:12px;

			.mh-graph__number {
				font-size:3em;	
			}
			
		}
	}

	@include media-breakpoint-between(md, lg) {
		display:flex;
		flex-direction:column;
		justify-content:center;

		.mh-graph__meta-primary {
			margin-top:0;
			font-size:12px;

			.mh-graph__number {
				font-size:2em;	
			}
			
		}

		.mh-graph__secondary {
			margin:0 2px;

			.mh-graph__number {
				font-size:12px;
			}

			.mh-graph__label {
				font-size:10px;
			}
		}
	}
}
