.hoverzoom-icon {
	@include d-b;
	position:absolute;
	top:0;
	right:0;
	overflow:hidden;
	height:50px;
	width:50px;
	text-align:right;
	opacity:1;
	@include prefix(transition,opacity 0.3s ease);

	i {
		color: $dark;
		vertical-align:top;
	}

	&::before {
		content:'';
		@include d-b;
		position:absolute;
		@include fill-parent-abs;
		width:200%;
		height:200%;
		background:$gray-200;
		@include prefix(transform,rotate(45deg) translate(-25%,-50%));
	}
}

// Center Bulk Order Image Zoom
#mh-dashboard-content .hoverzoom-icon .fa-search-plus {
	top: 2px;
	right: 7px; 
}

// Hoverzoom Containers
.omh-bulk-order-image-gallery:hover {
    cursor:zoom-in;
    .hoverzoom-icon { opacity:0; }
}