.mh-dashboard-content [class*="fa-"] {
	height:auto;
	width:1em;
	line-height:inherit;
	font-size:inherit;
	top:0;
	vertical-align:baseline;
}

// Sidebar Icons
#mh-dashboard-menu .drawer-menu .nav-item {

	a {
		// padding-left: 3rem;

		// My Account
		&[href$='/account-details']::before 	{ content: theme-icon('user'); }
		&[href$='/my-orders']::before 			{ content: theme-icon('shopping-bag'); }

		// Manage Store
		&[href$='/create-product']::before 		{ content: theme-icon('edit'); }
		&[href$='/retail-products']::before 	{ content: theme-icon('shopping-bag'); }
		&[href$='/campaign-products']::before	{ content: theme-icon('bullhorn'); }
		&[href$='/bulk-orders']::before 		{ content: theme-icon('tags'); }
		&[href$='/designs']::before 			{ content: theme-icon('paint-brush'); }
		&[href$='/store-settings']::before 		{ content: theme-icon('cog'); }
		&[href$='/store-credit']::before 		{ content: theme-icon('dollar-sign'); }
		&[href$='/members']::before 			{ content: theme-icon('users'); }

		// MH Admin
		&[href$='/products']::before 			{ content: theme-icon('shopping-bag'); }
		&[href$='/orders']::before 				{ content: theme-icon('tags'); }
		&[href$='/users']::before 				{ content: theme-icon('users'); }
		&[href$='/chapters']::before 			{ content: theme-icon('sitemap'); }
		&[href$='/global-garments']::before 	{ content: theme-icon('list'); }

		&::before {
			font-family: FontAwesome;
			position: relative;
			display: inline-block;
			width: 1rem;
			margin-right: 0.6rem;
			text-align: center;
		}
	}
}