
body.page-id-1777 {
	#logo .starting-logo.default-logo {
		display:none !important;
	}

	.nectar-icon-list-item {
	    display: flex;
	    margin-bottom: 2em;
	    min-height: 65px;
	    height: auto;
	    align-content: center;
	    align-items: center;

	    h4 {
	    	font-weight:400;
	    }
	}
}

.mh-landing-page-signup-wrapper {
	margin: 20px auto !important;

	.mh-landing-page-signup-message {
		position: absolute;
		width: 100%;
		text-align: center;
		opacity: 0;
		pointer-events: none;
		color: $white;
		font-size: $font-size-lg;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		&.landing-page-submitted {
			opacity: 1;
		}
	}

	#mh-landing-page-signup-form {
		display: flex;
		opacity: 1;
		background: inherit;

		button.landing-page-signup-submit {
			width: 200px;
			height: 40px;
			line-height: 0.7;
			margin: 0 10px;
		}

		.landing-page-signup-form-group {
			flex: 1;
			margin: 0 10px;
			
			input {
				height: 40px;
			}
		}

		&.landing-page-submitted {
			opacity: 0;
			pointer-events: none;
		}
	}

	.landing-page-submitted {
		-webkit-transition: opacity 0.5s ease-in-out;
		-moz-transition: opacity 0.5s ease-in-out;
		-ms-transition: opacity 0.5s ease-in-out;
		-o-transition: opacity 0.5s ease-in-out;
		transition: opacity 0.5s ease-in-out;
	}


	@include media-breakpoint-down(md) {
		
		#mh-landing-page-signup-form {
			flex-direction: column;

			button.landing-page-signup-submit {
				width: inherit;	
			}
		}
	}
}