
.loading-open {
	overflow: hidden;
}

.loading-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: $zindex-modal-backdrop;
	// display: none;
	background-color: #fff;
	opacity: 0;

	transition: 0.5s ease;

	.loading-open & {
		display: block !important;
		opacity: 1 !important;
	}
}

.loading-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: $zindex-modal;
	// display: none;
	overflow: hidden;
	outline: 0;
	opacity: 0;

	transition: 0.5s ease;

	.loading-open & {
		display: block !important;
		overflow-x: hidden;
		overflow-y: auto;
		opacity: 1 !important;
	}
}

.loading-dialog {
	position: relative;
	width: auto;
	margin: $modal-dialog-margin;
	pointer-events: none;

	.loading-overlay.fade & {
		@include transition($modal-transition);
	}

	&.loading-dialog-centered {
		display: flex;
		align-items: center;
	}
}

.loading-content {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100%;
	pointer-events: none;
	background-clip: padding-box;

	outline: 0;
	z-index: $zindex-modal;
}

.loading-header {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 0 $modal-header-padding;
}

.loading-title {
	margin-bottom: 0;
	line-height: $modal-title-line-height;
}

.loading-body {
	position: relative;
	flex: 1 1 auto;
	padding: 0 $modal-inner-padding;
	text-align: center;
}

.loading-image {
	margin: 1rem 0;
}

.loading-t-shirt {
	width: 125px;
	height: 125px;
	fill: theme-color-level( 'primary', -2 );
}

.loading-greek-letters {
	position: absolute;
	top: 65px;
	left: 0;
	right: 0;

	font-size: 18px;
	font-weight: 900;

	animation: loadingFade 2s ease-in-out infinite;
}

.loading-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}

@keyframes loadingFade {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}

@include media-breakpoint-up(sm) {

	.loading-dialog {
		max-width: $modal-md;
		margin: auto;
	}

	.loading-dialog-centered {
		min-height: calc(100% + (#{$modal-dialog-margin} * 2));
	}

	.loading-sm { 
		max-width: $modal-sm; 
	}

}

@include media-breakpoint-up(lg) {
	.loading-lg { 
		max-width: $modal-lg; 
	}
}