
#login-register-links {
	text-align: center;
	margin: 0 auto;
}

.woocommerce-account {

	.woocommerce {

		> #reset_password {

			> .col-1 {
				max-width: 550px;
				width: 100%;
				float: none;
				margin: 0 auto;
			}

			.woocommerce-Button {

				&.button {
					margin: 0 auto;
				}
			}
		}
	}
}