
#header-outer {
	min-height:37px !important;

	#logo {
		height: 19px;
		width: 1px;
		min-width:1px;

		img {
			position: absolute !important;
			top: 50% !important;
			backface-visibility:hidden;
			transform: translateY(-50%) translateZ(0) scale(1.0, 1.0);
		}
	}

	&.small-nav #logo {
		@include media-breakpoint-up(lg) {
			height:13px;
		}
	}
}