header {

	&#top {

		.span_9 {

			>nav {
				>ul {
					&.sf-menu:first-child {
						margin-right: -30px;
					}

					&.buttons {

						li#search-btn {

							>div >a {
								height: 25px !important;
							}
						}
					}
				}
			}
		}
	}
}

.my-account-menu-item {

	a {

		.icon-in-menu {
			color: inherit !important;
			font-size: 20px !important;
			transition-duration: 0.2s;
		}

		.icon-in-menu:hover {
			color: $primary !important;
		}

		.sf-sub-indicator {
			display: none;
		}
	}
}