
.mh-file-upload-box,
.omh-field--ajax-file {
    background-color: $gray-300;
    height: 125px;
    width: 125px;
	position: relative;
	overflow: hidden;
	display: inline-block;
	text-align:center;

	img {
		display:inline-block;
		margin-top:0 !important; 
		margin-bottom:0 !important;
		height:auto !important;
		object-fit:contain;
		
	}

	.mh-file-upload-box__file {
		@include fill-parent-abs;
		@include fill-parent;
	}
	
	input {
		// position: absolute;
		// top: 0;
		// right: 0;
		@include fill-parent-abs;
		max-width:100%;
		margin: 0;
		opacity: 0;
		-ms-filter: 'alpha(opacity=0)';
		font-size: 200px !important;
		direction: ltr;
		cursor: pointer;
	}
}

.mh-file-upload-box.has-advanced-upload .mh-file-upload-box__dragndrop {
	display: inline;
}

.mh-file-upload-box__uploading,
.mh-file-upload-box__success,
.mh-file-upload-box__error {
	display: none;
}

.mh-file-upload-box.is-dragover {
	background-color: grey;
}
