
.mh-screen-form-msgs {

	&::before {
		font-family:'FontAwesome';
		content:'\f071';
	}

	&:empty::before {
		font-family:inherit;
		content:'Unsaved Changes';
	}
}

// OMH Field Inputs

.omh-field-input {

	&[type="number"] {

		&:not(.show-spinner) {
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance:none;
				margin:0;
			}
		}
	}
}


// AJAX Search inputs

.select2--garment-thumb {
	height:60px;
	width:auto;
	float:left;
}
.form-group.omh-field-wrap[data-omh-ajax-search-model] {

	input.omh-field-input {
		display:none;
	}

	.ajax-search-results {
		@include d-b;
		position: absolute;
		width: 100%;
		height: auto;
		left: 0;
		top: 100%;
		z-index: $zindex-popover;
		background:$dropdown-bg;

	}

	&.ajax-loading .ajax-search-results {
		height:40px;
		
		&::before {
			display:block;
			opacity:1;
			transition:all 0.3s ease;
			position:absolute;
			top:50%;
			left:50%;
			height:22px;
			width:22px;
			transform:translate(-50%,-50%) rotate(0deg);
			content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='22' width='22'><circle cx='11' cy='11' r='9' stroke='#58C3B7' stroke-width='3' stroke-dasharray='44' fill='none' /></svg>");
			animation: loadingSpinner 1s infinite;
		}
	}

	.ajax-search-result {

		@include hover {
			cursor:pointer;
		  color: $dropdown-link-hover-color;
		  text-decoration: none;
		  @include gradient-bg($dropdown-link-hover-bg);

		}
	}

	.ajax-loading-icon {
		@include d-b;
		position: absolute;
		display:none;
		width:40px;
		height:100%;

		&::before {
			display:block;
			opacity:1;
			transition:all 0.3s ease;
			position:absolute;
			top:50%;
			left:50%;
			height:22px;
			width:22px;
			transform:translate(-50%,-50%) rotate(0deg);
			content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='22' width='22'><circle cx='11' cy='11' r='9' stroke='white' stroke-width='3' stroke-dasharray='44' fill='none' /></svg>");
			animation: loadingSpinner 1s infinite;
		}

		&.ajax-loading .ajax-loading-icon {
			display:block;
		}
	}
}

// Add Global Garment Product
.inksoft-product-search-results-wrap {

	.inksoft-product-search-results-inner-wrap {
		max-height: 500px;
		overflow: scroll;

		.inksoft-product-style-data {

			.inksoft-product-style-thumbnail {
				
				height: 60px;
				width: auto;
				float: left;
			}
		}
	}
}

.omh-add-global-garment-thumbnail {
	height: 60px;
	width: auto;
	float: left;
}

.inksoft-product-search-table-wrap {
	max-height: 500px;
	overflow: scroll;
}

// Fix fancy checkboxes

#mh-dashboard-content input[type=checkbox]:checked + label > span::before {
	box-sizing:content-box !important;
}

html body {
	.mh-form-submit,
	.mh-forms-submit {
		transition:all 0.3s ease;

		&::before {
			opacity:0;
		}

		&.cta-loading {
			position:relative;
			color:rgba(255,255,255,0) !important;
			pointer-events:none;
			cursor:progress;

			&::before {
				display:block;
				opacity:1;
				transition:all 0.3s ease;
				position:absolute;
				top:50%;
				left:50%;
				height:22px;
				width:22px;
				transform:translate(-50%,-50%) rotate(0deg);
				content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='22' width='22'><circle cx='11' cy='11' r='9' stroke='white' stroke-width='3' stroke-dasharray='44' fill='none' /></svg>");
				animation: loadingSpinner 1s infinite;
			}
		}
	}
}


@keyframes loadingSpinner {
	100% {
		transform:translate(-50%,-50%) rotate(360deg);
	}
}

.onyx-drawer.onyx-drawer--warning {
	@include alert-variant(theme-color-level("warning", $alert-bg-level), transparent, theme-color-level("warning", $alert-color-level));
}

.onyx-drawer--save-bar {
	z-index:-1000;
	background-color:$gray-300;

	@include transition(#{transform 0.2s ease-in-out, color .2s ease-in-out, background-color .2s ease-in-out, z-index 0s ease-in-out .2s});// dev improve

	&.onyx-drawer--open {
		z-index: 11000;
		@include transition(#{transform 0.2s ease-in-out, color .2s ease-in-out, background-color .2s ease-in-out, z-index 0s ease-in-out 0s});// dev improve
	}

	.btn {
		transition:all .2s;
	}

	
}



#header-outer.small-nav ~ #ajax-content-wrap #mh-dashboard-save-bar .btn {
	@extend .btn-sm;
	transition:all .2s;
}



