
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	ONYX Drawer
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */


// class for body and html
.onyx-body--drawer-open {
	overflow: hidden;
}

.onyx-page-overlay {
	@include fill-parent;
	@include backface-fix;
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index: -7000;
	background: #000000;
	opacity: 0;
	pointer-events: none;
	@include transition(#{opacity 0.45s cubic-bezier(0.29, 0.63, 0.44, 1), z-index 0s cubic-bezier(0.29, 0.63, 0.44, 1) 0.45s});// dev improve

	&.show,
	.onyx-body--drawer-open:not(.no-show-overlay) & {
		opacity: 0.3;
		z-index: 7000;
		pointer-events: all;
		@include transition(#{opacity 0.45s cubic-bezier(0.29, 0.63, 0.44, 1), z-index 0s cubic-bezier(0.29, 0.63, 0.44, 1) 0s});// dev improve
	}

}

.onyx-drawer {
	@include d-b;
	@include backface-fix;
	@include pbm-0;
	position: fixed;
	
	overflow: visible;
	z-index: 8000;
	
	-webkit-overflow-scrolling: auto;
	// top: inherit;
	@include transition();
	background: #FFFFFF;

	&.onyx-drawer--left,
	&.onyx-drawer--right {
		@include fill-height;
		top: 0;
		width: $drawer-width;
	}

	&.onyx-drawer--top,
	&.onyx-drawer--bottom {
		@include fill-width;
		left:0;
		right:0;
	}

	/*
		.onyx-drawer__header,
		.onyx-drawer__footer,
		.onyx-drawer__content {
			@include d-b;
			@include fill-width;
			left: 0;
		}

		.onyx-drawer__header,
		.onyx-drawer__footer {
			position: absolute;
			//height: $site-header-height-outer;
		}

		.onyx-drawer__header {
			top: 0;

			text-align:center;

			h3 {
				//line-height: $site-header-height-outer;
			}
		}

		.onyx-drawer__footer {
			bottom: 0;

			.social-sharing {
				text-align: center;
			}

			.social-sharing a {
				background-color: transparent;
				color: $primary;
			}
		}

		.onyx-drawer__background {
			@include fill-parent-abs;
			z-index:0;//dev:vars dev:z-index
		}
	*/

	.onyx-drawer__content {
		// position: relative;
		// height: auto;
		// max-height: 100%;
		// min-height: 100%;
		// box-sizing: border-box;
		overflow: auto;
		-webkit-overflow-scrolling: touch;

		::-webkit-scrollbar {
			width: 4px;
		}

		/* Track */
		::-webkit-scrollbar-track {
			background: transparent;
		}

		/* Handle */
		::-webkit-scrollbar-thumb {
			-webkit-border-radius: 0;
			border-radius: 0;
			background: rgba(0, 0, 0, 0.6);
			opacity: 1;
		}

		::-webkit-scrollbar-thumb:window-inactive {
			opacity: 0;
		}

	}

	&.onyx-drawer--left {
		left: -$drawer-width;

		.onyx-drawer__control {
			position:absolute;
			right:0;
			//top: 4px;
		}

		&.onyx-drawer--open {
			left: 0;
		}

	}

	&.onyx-drawer--top {
		top:0;
		transform: translateY(-100%);

		&.onyx-drawer--open {
			transform: translateY(0);
		}

	}

	.logout-nav {
		width: 240px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1030;
	}
	/*
		.onyx-drawer__header ~ .onyx-drawer__content {
			//padding-top: $site-header-height-outer;
		}

		.onyx-drawer__footer ~ .onyx-drawer__content {
			//padding-bottom: $site-header-height-outer;
		}

		.onyx-drawer__control {
			@include d-b;
			top: 0;
			@include transition();
			z-index:9000;
			//height: $site-header-height-outer;

			&.onyx-drawer__toggle {
				cursor:pointer;
				padding:0 0.5em;//dev:vars
				//height:$site-header-height-outer;
				text-align:center;
				//line-height:$site-header-height-outer;
			}
		}

		

		&.onyx-drawer--right {
			right: -$drawer-width;

			.onyx-drawer__control {
				//right: $onyx-drawer-width;
				position:absolute;
				left:0;
			}

			&.onyx-drawer--open {
				right: 0;
			}

		}

		.tools__right {
			right: 10px;

			.popup-over {
				padding: 0 20px !important;
			}

		}

		.onyx-drawer__content-item {
			@include d-b;
			@include fill-width;
			position:relative;
			height:auto;
			padding:0.5em;//dev:vars
		}
	*/

}

.dashboard-drawer {
	background:theme-color-level(dark);

	@include media-breakpoint-up(lg) {
		left: 0 !important;
	}

	.dashboard-icon-profile {
		height:32px;
		width:32px;
		border-radius: 16px;
		overflow: hidden;
		border: none;
		display:inline-block;
		vertical-align:middle;
		font-style:normal;
		line-height:32px;
		font-size: 18px;
		text-align: center;
		font-weight: bold;
		letter-spacing: 0;
		text-indent:1px;

		&::before {
			position: relative;
    		top: 2px;
		}
	}

	.drawer-section {
		margin-bottom: $font-size-base;
	}

	.drawer-section-nav-spacer {
		background: theme-color-level(dark,-2);
		margin-bottom:0;
	}

	.drawer-section-profile {
		padding-top: 0.7rem;
		padding-bottom: 0.7rem;
		// padding-top: $font-size-base;
		// padding-bottom: 1px;
		margin-bottom:0;
		background: theme-color-level(dark,-2);
		position:relative;

		ul {
			margin-bottom: 1.3rem !important;
		}

		.dashboard-chapter-name {
			font-weight: 500;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			.greek-letters {
				display: inline-block;
				font-weight: normal !important;
			}
		}

		.dashboard-drawer-role-badge {
			position:absolute;
			left:62px;
			margin-top: -8px;
		}

		.dashboard-chapter-display {
			// margin-top: 20px;
			margin-bottom: 0.5rem;

			a {
				display: flex;
				align-items: center;

				padding-right: 1.2rem;
				padding-left: 1.2rem;
			}
		}

		.dashboard-drawer-organization-crest {
			display: inline-block;
			min-width: 35px;
			min-height: 35px;
			margin-right: 0.5em;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;

			img {
				width: inherit;
			}
		}
	}

	.onyx-drawer__content {
		// position:absolute;
		padding-top:22px;
		// top:98px + $site-nav-height;
		bottom:0;
		height:auto;
		width:100%;
		left:0;
		right:0;
		@include transition();

		@include media-breakpoint-down(md) {
			top:98px + $site-nav-height-small;
		}

	}

	.drawer-menu {
		padding-top:map-get($spacers, 2);
	}

	.drawer-menu-heading {
		padding-left: $nav-link-padding-x;
		padding-right: $nav-link-padding-x;
	}

	.dropdown-divider {
		opacity:.3;
	}

	.navbar-nav {
		//margin-bottom:0 !important;

		.nav-link {
			max-width: 240px;
			padding-right: $nav-link-padding-x;
			padding-left: $nav-link-padding-x;
			white-space:nowrap;

			&.dashboard-logout-link {
				display: inline-block;
				font-size: 0.7em;
				position: relative;
				left: 45px;
				top:-12px;
				z-index:100;
				margin-bottom:-5px;
			}

			i {
				margin-right:0.4em;
			}
		}
	}

	
}

#header-outer.small-nav ~ #ajax-content-wrap .dashboard-drawer .onyx-drawer__content {
	top:98px + $site-nav-height-small;
}

.dashboard-drawer-padding {

	padding-left:0;

	@include media-breakpoint-up(lg) {
		padding-left:$drawer-width;
	}
}



.dashboard-drawer-toggle {
	background:none;
	color:inherit;
	vertical-align:top !important;

	i {
		pointer-events:none;
		z-index:-1;
		font-size:1.4em;
	}

	.onyx-drawer--dashboard-menu & {

		display:none;
		position:absolute;
		right:0;
		top:0;

		@include media-breakpoint-down(md) {
			display:block;
		}

		i {
			z-index:0;
			color:inherit;
		}
	}
}

.onyx-drawer {
	.admin-chapter-select {
		font-weight:400;

		.select2-selection {
			padding:0 !important;
			font-weight:400;
			border:0 !important;
			background-color:$gray-600 !important;
			// border-radius: $badge-pill-border-
		}

		
	}	
}

#select2-session_chapter_id-results.select2-results__options {
	line-height:1.3;
	font-weight:400;
	color:$gray-800;
}


// $drawer-item-bg:theme-color-level(dark,-1);



// .dashboard-drawer-content {

// 	.drawer-section-menu {

// 		.list-group-item {
// 			background:$drawer-item-bg;
// 			color: color-yiq($drawer-item-bg);	
// 		}
		
// 	}

	
// }

// .drawer-nav-submenu {

// 	.drawer-nav-item {
		
// 		i {
// 			@include invisible(hidden);
// 		}
// 	}
// }






