/**
 * _price_widget.scss
 * Custom Price Widget for Merch.House
 * 
 * ONYX DESIGN
 * onyxdesign.net
 */

$mhpw-height: 100px;
$mhpw-width: 800px; 
$mhpw-gutter-size: 50px;
$mhpw-label-size: 13px;

.mhpw__outer-wrap {
	margin: 50px 0;
	width: 100%;
}

.mhpw__wrap {
	height: $mhpw-height;
	width: $mhpw-width;
	max-width: calc(100% - #{$mhpw-gutter-size}) !important;
	padding-right: $mhpw-gutter-size;
	margin: auto;

	.mhpw {
		background: $success;
		position: relative;
		height: 100%;
		width: 100%;

		// base label styling
		.mhpw__labels {
			position: absolute;
			right: 0;
			top: 104%;
			font-size: $mhpw-label-size;
			line-height: 1;
			text-align: right;
		}

		// Base price - fill and labels
		.mhpw__base-price-wrap {
			position: absolute;
			overflow: visible !important;
			left: 0;
			bottom: 0;
			height: 100%;
			width: 0;
			background: $info;
			z-index: 5;

			.mhpw__base-price-labels {
				color: $gray-700;
			}
		}

		// Your Price labels
		.mhpw__your-price-wrap {
			@include fill-parent-abs;
			z-index: 10;

			.mhpw__your-price-labels {
				color: $success;
				background: #fff;
			}
		}

		// Profit Percent
		.mhpw__profit-percent-wrap {
			@include fill-parent-abs;
			z-index: 15;

			.mhpw__profit-percent {
				color: #fff;
				font-weight: bold;
				position: absolute;
				bottom: 0;
				right: 5px;
				font-size: $mhpw-label-size * 2;
				line-height: $mhpw-label-size * 2;

				@media screen and (max-width: 690px) {
					font-size: $mhpw-label-size * 1.25;
					line-height: $mhpw-label-size * 1.25;
				}
			}
		}

		// Profit Breakdown
		.mhpw__profit-wrap {
			position: absolute;
			bottom: 0;
			left: 101%;
			width: $mhpw-gutter-size;
			line-height: 1;
			text-align: center;
			font-size: $mhpw-label-size;
			z-index: 500;
			white-space: nowrap;
			// color: $primary;

			.mhpw__profit-text {
				white-space: nowrap !important;
				margin-bottom: 5px;
			}

			.mhpw__profit {
				// color: $primary;
				color: $success;
				font-size: $mhpw-label-size * 2;

				@media screen and (max-width: 690px) {
					font-size: $mhpw-label-size * 1.25;
					line-height: $mhpw-label-size * 1.25;
				}
			}
		}
		
		// White triangle cover
		.mhpw__triangle {
			width: 0;
			height: 0;
			border: 0 solid transparent;
			border-right-width: 0;
			border-left-width: $mhpw-width;
			border-bottom: $mhpw-height solid #fff;
			position: absolute;
			left: 0;
			z-index: 10;
			@include prefix(transform, rotate(180deg));

			@media screen and (max-width: 1000px) {
				border-left-width: 350px;
			}

			@media screen and (max-width: 690px) {
				border-left-width: 300px;
			}
		}
	}
}

// .mhpw {
// 	position: relative;

// 	.mhpw__triangle {
// 		@include d-b;
// 		width: 0;
// 		height: 0;
// 		border: 0 solid transparent;
// 		border-right-width: 0px;
// 		border-left-width: 277px;
// 		border-bottom: 41px solid transparent;

// 		overflow: hidden;
// 		// position: relative;
// 	}	

// 	.mhpw__base-price-wrap {
// 		@include fill-parent-abs;
// 		height: 100%;
// 		width: 200px;
// 	}

// 	.mhpw__base-price {
// 		height: 100%;
// 		width: 200px;
// 		background: $primary;
// 	}

// }

