
body #search-outer #search input[type="text"] {
	border-bottom-color:$primary !important;
	border-radius:0 !important;
}

.omh-radio-slider-wrap {
	@include d-b;
	text-align:center;
}

.omh-radio-slider {
	display:inline-flex;
	flex-direction:row;
	flex-wrap:nowrap;

	width:auto;
	margin:0 auto;
	font-size:22px;
	white-space: nowrap;
	margin-top:1em;

	// height:34px;

	border-radius:30px;

	border:2px solid $gray-400;
	padding:2px;
	height:1.9em;


	@include media-breakpoint-down(md) {
		font-size:14px;
	}

	@include media-breakpoint-down(sm) {
		// font-size:12px;
	}

	

	label {
		// height:26px;
		@include d-ib;
		// line-height:1;
		border-radius:20px;
		flex:1 1 25%;
		font-weight:500;
		line-height:normal;
		padding:0 1em;
		// margin:0 -0.3em;
		height:100%;
		color:$gray-700;
		cursor:pointer;
		letter-spacing: 0.03em;
		@include transition($btn-transition);
		-webkit-font-smoothing: subpixel-antialiased;
		user-select:none;

		@include media-breakpoint-down(sm) {
			padding: 0 0.5em;
		}

		&:hover {
			color:$gray-900;
			background-color:$gray-200;
		}
	}

	input {
		display:none;

		&:focus + label {
			background-color:$gray-200;
		}

		&:checked + label {
			background-color:$primary;
			color:#FFFFFF;
			z-index:5;
			// font-weight:600;
		}


	}
}

body.search #search-results .result.result--organization .inner-wrap {

	img.result--organization__logo {
		width: 60%;
		margin: 20px auto 0;
		min-width:80px;
		height:auto;
	}
}



