
html body #sidebar {


	h4 {
		color:$gray-900 !important;
		letter-spacing: $btn-letter-spacing;
		font-weight:600;
	}

	.product-categories a {
		letter-spacing:0.03em;
		font-weight:400;
		color:$gray-600;

		&:active,
		&.active {
			font-weight:600;
			color:$primary;
		}
	}

	div.widget {
		margin-bottom:42px;
	}
}
