
#footer-outer {
	z-index:9 !important;
	h3 {
		color: inherit;
	}

	#footer-widgets {

		.row {
			padding: 30px 0 0 0;

			.footer-right {
				text-align: right;

				
			}
		}
	}

	#copyright {
		padding-top: 0;

		.col.span_5 {

				&::before {
					content: "";
					background-image: url( "https://merch.house/wp-content/themes/salient-child/img/Affinity-Consultants-White_Reverse_OLP_Seal.png" );
					background-size: 70px;
					display: block;
					float: left;
					width: 70px;
					height: 70px;
					vertical-align: middle;
					margin-right: 1em;
				}
			> p {
			}
		}

		.social {

			a[href*="instagram"]::before {
				content: "Follow us @merch.house";
				padding-right: 10px;
			}

			a:hover {
				i {
					color:inherit !important;
				}
			}
		}
	}
}