// Site Header 
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

#header-outer {
	box-shadow:0 0 3px 0 rgba(0,0,0,0.22) !important;
	&::before {
		display:block;
		content:'';
		position:absolute;
		background-color:#FFFFFF;
		width:100%;
		bottom:100%;
		left:0;
		right:0;
		height:1000px;
		z-index:11000;
	}

	.cart-menu .cart-icon-wrap i {
		top: -1px !important;

		&::before {
			content:"\e606";
		}
	}
}

#header-outer.small-nav ~ #ajax-content-wrap .site-nav-height {
	height:$site-nav-height-small;
}

// Dashboard Active Link Fix - make sure "Account" is never the active link
body.main-dashboard-page #header-outer #top nav ul.sf-menu li.my-account-nav-item {	
	&:not(:hover) {
        a.sf-with-ul,
        a.sf-with-ul i { color: #888888 !important; }
    }
}

.site-nav-height {
	height:$site-nav-height;
	transition:all .2s;

	@include media-breakpoint-down(md) {
		height:$site-nav-height-small;
	}
}


html body[data-dropdown-style="minimal"]:not([data-header-format="left-header"]) #header-outer:not([data-format="left-header"]) header#top nav > ul > li.megamenu > ul ul li.current-menu-item > a:not(:hover) {
	background-color:transparent !important;
	color:#565656 !important;
}

// body[data-dropdown-style="minimal"] #header-outer:not([data-format="left-header"]) header#top nav > ul > li.megamenu ul ul li.current-menu-item > a
