// Site Header Social Icons
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

#top #social-in-menu {
    display: none !important;
}

#header-outer {

    .mh-social-icons {
        transition: all 0.2s ease;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        opacity: 1 !important;
        height: 100%;

        > ul {
            height: 100%;
            display: flex;
            align-items: center;

            i[class*="fa-"], 
            span[class*="fa-"] { 
                top: 0;
                color: #888;

                &:hover { color: $primary; }
            }
        }

        @media screen and (max-width: 1000px) {
            display: none;
            opacity: 0 !important;
        }
    }

    &.transparent .mh-social-icons > ul {

        i[class*="fa-"], 
        span[class*="fa-"] {
            opacity: 0.75;
            color: #FFF;

            &:hover { opacity: 1; }
        }
    }
}

// Mobile Menu Close
html body[data-slide-out-widget-area] #slide-out-widget-area-bg + .slide_out_area_close:before {
	background-color: $gray-800 !important;
}

#page-header-wrap {

    .nectar_icon_wrap {

        margin: 0 2.5px;

        .nectar_icon {
            transition: all 0.2s ease;
            border-color: $white;
            opacity: 0.85;
        }

        .nectar_icon:hover {
            opacity: 1;
        }
    }
}