#mh-store-settings-header {
	background:#d5d8db;

	i[class*="fa-"] { font-size:1.2em; }

	.mh-store-banner-image {
		max-height:300px;
		width:auto;
		height:auto;
	}
}

#mh-store-banner {
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	min-height:200px;

	height:auto;

	&::before {
		display:block;
		content:'';
		box-sizing:content-box;
		width:100%;
		padding-top:30%;
	}
}

.post-type-archive-product {

	.nectar-shop-header {
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;

		h1 {
			width:auto;
			order:0;
		}

		#mh-store-social {
			order:3;
			display:flex;
			flex-wrap:nowrap;
			flex-direction:column;

			.mh-store-social-link {
				text-align:left;
			}
		}

		.mh-store-description-wrap {
			width:100%;
			order:5;

			.mh-store-description {
				width:100%;
				max-width:400px;
			}
		}

		


	}
	
}

.woocommerce-ordering {
	display:none;
}

.woocommerce-breadcrumb {
	width:100%;
	order:10;
	font-weight:500;
	letter-spacing:0.03em;
	padding: 13px 0px !important;

	@include media-breakpoint-down(md) {
		margin-bottom:1em !important;
	}
	
	a:hover {
		color:$primary;
	}

	
}

.marketplace-header {
	.span_9 {
		border-bottom: none !important;
		padding-bottom: 0px !important;
	}
	.span_3 {
		margin-bottom: 0px;
	}
}


body.archive.woocommerce {

	#page-header-wrap,
	.page-header-no-bg {
		
		+ .container-wrap {
			padding-top:0 !important;
			background-color: white !important;
		}
	}
}

body.archive.tax-organizations {

	.page-header-no-bg {
		padding-bottom:0;

		.span_9 {
			padding-bottom:0;
			border-bottom:none;
		}
	}
}


$header-text-color:#231f20;
.omh-header-content {
	@include d-ib;
	white-space: nowrap;
	color:$header-text-color;

	> div {
		@include d-ib;
		white-space: normal;
		vertical-align: middle;
		text-align:left;
	}

	.header-title,
	.header-subtitle {
		color:$header-text-color !important;
	}

	.header-title {
		text-transform:uppercase;
		// @include pbm-0;
	}

	.header-logo {
		img {
			max-height:100px;
			width:auto;
			padding-right:1em;
			border-right:2px solid $header-text-color;
			margin-right:1em;

		}
	}

	@include media-breakpoint-down(sm) {
		display:block;
		white-space: normal;

		.header-logo,
		.header-titles-wrap {
			width:100%;
		}

		.header-logo {

			img {
				padding:0 !important;
				border:0;
				border-right:0;
				margin:0 auto 1em;
			}
		}
	}
}


#page-header-wrap {



	.page-header-overlay-color:after {
		opacity: 0.35;
	}

	.store-location {
		font-size: 1.15rem;
		font-weight: $font-weight-medium;
		margin-bottom: $headings-margin-bottom;

		.fa {
			color: $primary;
			font-size: $h3-font-size;
		}
	}

	.subheader {
		font-size: $font-size-base !important;
		font-weight: $font-weight-normal;
	}
}


