.woocommerce-demo-store {
	.woocommerce-store-notice, 
	p.demo_store {
		position: fixed;
		background-color: $primary;
		font-weight: 500;
		box-shadow: none;

		a {
			text-decoration: none;
		}

		.close {
			float: none;
			position: absolute;
			right: 50px;
		}
	}

	.ocm-effect-wrap-inner {

		#header-outer,
		#header-space {
			margin-top: 50px !important;
		}
	}

	@include media-breakpoint-down(sm) {
		
		.woocommerce-store-notice, 
		p.demo_store {
			padding-right: 1em;
			padding-left: 1em;
		}

		.ocm-effect-wrap-inner {

			#header-outer,
			#header-space {
				margin-top: 75px !important;
			}
		}
	}

	@include media-breakpoint-down(xs) {


		.ocm-effect-wrap-inner {

			#header-outer,
			#header-space {
				margin-top: 100px !important;
			}
		}
	}
}