
.omh-sidebar {

	.omh-sidebar-widget {

		margin-bottom:12px !important;

		@include media-breakpoint-up(lg) {
			margin-bottom: 32px !important;
		}
		
		// margin-top: 16px !important;

		// h4 {
		// 	font-size: 16px !important;
		// }
	}

	.omh-sidebar-product-categories-list {
		// padding-bottom: 20px;

		&.product-categories {

			.omh-sidebar-product-categories-list-item {

				a {

					&.active {
						font-weight: 600;
					}
				}
			}
		}

		@media screen and (max-width: 1000px){
				display: none;
		}
	}

	// .omh-sidebar-search {
	// 	margin-bottom: 25px;
	// }
}

.select2-dropdown.omh-select2-minimal__dropdown {

	.select2-search.select2-search--dropdown {
		padding:0;

		input.select2-search__field {
			border:0;
			border-radius:0;
			height:36px;
		}

		
	}
	.select2-results {
		.select2-results__option {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}
