// PLP - hide result count
.woocommerce-result-count { display: none !important; }

// Cart
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
.cart_totals h2 { display:none !important; }

body.woocommerce-cart[data-footer-reveal][data-footer-reveal-shadow] .container-wrap {
	box-shadow: none !important;
  }

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
	float: none;
	width: 100%;
}

// Checkout: Fields
.woocommerce {
	.woocommerce-checkout {
		.woocommerce-billing-fields {
			input[type="number"] {
				padding: 10px;
			}
		}
	}
}

// Checkout: Fields
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
.woocommerce form.woocommerce-checkout .form-row .woocommerce-input-wrapper .checkout-description {
	background: inherit;
	display: block !important;
	color: inherit;
	padding: 0 1em;

	&::before {
		content: initial;
	}
}

// Checkout: Payment Area
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
.woocommerce-checkout #payment div.payment_box.payment_method_stripe,
.woocommerce-checkout #payment ul.payment_methods { padding: 0; }

// Checkout: Coupons
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
.woocommerce table.cart td.actions .coupon, 
.woocommerce-page table.cart td.actions .coupon {

	input#coupon_code,
	input[type="submit"] {
		display: inline-block !important;
		vertical-align: middle !important;
	}

	input#coupon_code { width: 52% !important; }
}

// Product Grid
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
.woocommerce ul.products li.product.material,
.woocommerce-page ul.products li.product.material {
	// 4 product rows on small desktops
	@media screen and (min-width: 1000px) and (max-width: 1300px) {
		&,
		&.last {
			width: 24%;
   			margin-right: 1%;
    		margin-bottom: 1%;
		}
	}
}

// Single Product
.woocommerce.single-product {
	.products {
		&.related {
			width: 100%;
		}
	}
}

// Woocommerce Login Page
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
.woocommerce form.login.woocommerce-form-login,
html body .woocommerce form.register {
	border: 0;
	padding: 0;
	margin: 0;
	border-radius: 0;

	.woocommerce-label--rememberme { display: block; }
}

// Lost Password Page
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
body.woocommerce-lost-password,
body.woocommerce-account {
	#ajax-content-wrap .container-wrap {
		background: #f6f6f6 !important;
	}
}

// .woocommerce-ResetPassword.lost_reset_password {
// 	div.clear { display: none; }
// }

// No Products Found Notice
.mh-no-products-found {
	color: $gray-600;
	font-weight: 600;
}

// WC OMH Notice
html body.woocommerce-page .container-wrap {

	.alert {

		.btn {

			&.btn-sm {
	  			@include button-size($btn-padding-y-sm, $btn-padding-x-sm !important, $font-size-sm !important, $btn-line-height-sm !important, $btn-border-radius-sm !important);
			}
		}
	}
}