/**
 * _onyx_init.scss
 * Amazing Styles and Mixins by ONYX Design
 * 
 * ONYX DESIGN
 * onyxdesign.net
 *
 * @version 1.1
 * @updated 2017-11-13
 * 
 * @updated 2018-02-23 added inline-flex
 */

@mixin prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}


// Display Block, box-sizing:border-box
@mixin d-b {
 	display:block;
 	-webkit-box-sizing:border-box;
 	box-sizing:border-box;
}
.d-b {@include d-b;}

// Display Inline Block, box-sizing:border-box
@mixin d-ib {
 	display:inline-block;
 	-webkit-box-sizing:border-box;
 	box-sizing:border-box;
}
.d-ib {@include d-ib;}

// Display flex
@mixin d-fb {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -moz-box;
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
 	-webkit-box-sizing:border-box;
 	box-sizing:border-box;
}
.d-fb {@include d-fb;}

@mixin d-ifb {
	display: -webkit-inline-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -moz-inline-box;
	display: -webkit-inline-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: -ms-inline-flexbox;  /* TWEENER - IE 10 */
	display: inline-flex;         /* NEW, Spec - Firefox, Chrome, Opera */
 	-webkit-box-sizing:border-box;
 	box-sizing:border-box;
}
.d-ifb {@include d-ifb;}

@function flex-value( $value ) {
	@if str-index( $value, "flex-" ) == 1 {
		$value : str-slice( $value, 6 );
	}
	@return $value;
}

@mixin flex($value) {
	-webkit-flex:$value;
	-moz-box-flex:$value;
	-ms-flex:$value;
	flex:$value;
}

@mixin flex-wrap($value) {
	-ms-flex-wrap: $value;
	-webkit-flex-wrap: $value;
	flex-wrap: $value;
}

@mixin flex-direction($value) {
	-ms-flex-direction: $value;
	-webkit-flex-direction: $value;
	flex-direction: $value;
}

@mixin justify-content($value) {
	-webkit-box-pack: flex-value($value);
	-moz-box-pack: flex-value($value);
	-ms-flex-pack: flex-value($value);
	-webkit-justify-content: $value;
	justify-content: $value;
}

@mixin align-items($value) {
	-webkit-box-align: flex-value($value);
	-moz-box-align: flex-value($value);
	-ms-flex-align: flex-value($value);
	-webkit-align-items: $value;
	align-items: $value;
}
@mixin align-self($value) {
	-ms-flex-item-align: flex-value($value);
	-webkit-align-self: $value;
	align-self: $value;
}
@mixin align-content($value) {
	-ms-flex-line-pack: flex-value($value);
	-webkit-align-content: $value;
	align-content: $value;
}


/**
 * Margin, Border, Padding
 */

// Padding Zero
@mixin p-0 {padding:0;}.p-0 {@include p-0;}
@mixin b-0 {border:0;}.b-0 {@include b-0;}
@mixin m-0 {margin:0;}.m-0 {@include m-0;}
@mixin pbm-0 {
	@include p-0;
	@include b-0;
	@include m-0;
}.pbm-0 {@include pbm-0;}
@mixin px-0 {padding-left:0;padding-right:0;}.px-0 {@include px-0;}
@mixin bx-0 {border-left:0;border-right:0;}.bx-0 {@include bx-0;}
@mixin mx-0 {margin-left:0;margin-right:0;}.mx-0 {@include mx-0;}
@mixin py-0 {padding-top:0;padding-bottom:0;}.py-0 {@include py-0;}
@mixin by-0 {border-top:0;border-bottom:0;}.by-0 {@include by-0;}
@mixin my-0 {margin-top:0;margin-bottom:0;}.my-0 {@include my-0;}


/**
 * Filling parent element
 */

// Fill height
@mixin fill-height {
	min-height:100%;
	height:100%;
}
.fill-height {@include fill-height;}

// Fill width
@mixin fill-width {
	min-width:100%;
	width:100%;
}
.fill-width {@include fill-width;}

@mixin fill-parent {
	@include d-b;
	@include fill-height;
	@include fill-width;
	max-height:100%;
	max-width:100%;
}
.fill-parent {@include fill-parent;}

@mixin fill-parent-abs {
	display:block;
	position:absolute;
	top:0;right:0;bottom:0;left:0;
	height:auto;
	width:auto;
	min-width:100%;
}
.fill-parent-abs {@include fill-parent-abs;}

@mixin fill-parent-rel {
	@include d-b;
	@include pbm-0;
	@include fill-parent;
	position:relative;
}
.fill-parent-rel {@include fill-parent-rel;}
@mixin backface-fix {
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
}

@mixin onyx-bg-radgrad( $innerColor, $outerColor, $size:"farthest-corner", $end-percent:100%, $important:"" ) {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3a6ea5+0,004e98+100 */
	background: $innerColor $important; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse #{$size}, $innerColor 0%, $outerColor $end-percent) $important; /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse #{$size}, $innerColor 0%,$outerColor $end-percent) $important; /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse #{$size} at center, $innerColor 0%,$outerColor $end-percent) $important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$innerColor', endColorstr='$outerColor',GradientType=1 ) $important; /* IE6-9 fallback on horizontal gradient */
}

// List Reset

ul { margin: 0; }